# ЗАДАНИЕ 4. Анализ поездок и Spark GraphFrames

In [1]:
import pyspark
from pyspark.sql import SparkSession, Row

In [2]:
packages = "graphframes:graphframes:0.6.0-spark2.3-s_2.11"

In [3]:
import json
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point, Polygon, MultiPolygon
from geopandas.tools import sjoin

In [4]:
import folium
from folium.plugins import HeatMap, HeatMapWithTime

In [5]:
conf = pyspark.SparkConf() \
        .set("spark.executor.memory", "1g") \
        .set("spark.executor.core", "2") \
        .set("spark.jars.packages", "graphframes:graphframes:0.6.0-spark2.3-s_2.11")\
        .setAppName("moviewRecomApp")

In [6]:
spark = SparkSession \
    .builder \
    .appName("tripApp") \
    .config(conf=conf) \
    .getOrCreate()

In [7]:
import pyspark.sql.functions as F
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, DateType, TimestampType

In [8]:
import graphframes as gf

In [9]:
trip_schema = StructType([
    StructField(name="tripduration", dataType=IntegerType(), nullable=True),
    StructField("starttime", TimestampType(), True),
    StructField("stoptime", TimestampType(), True),
    StructField("start_station_id", IntegerType(), True),
    StructField("start_station_name", StringType(), True),
    StructField("start_station_latitude", DoubleType(), True),
    StructField("start_station_longitude", DoubleType(), True),
    StructField("end_station_id", IntegerType(), True),
    StructField("end_station_name", StringType(), True),
    StructField("end_station_latitude", DoubleType(), True),
    StructField("end_station_longitude", DoubleType(), True),
    StructField("bike_id", IntegerType(), True),
    StructField("usertype", StringType(), True),
    StructField("birth_year", IntegerType(), True),
    StructField("gender", IntegerType(), True)])

In [10]:
trips_data_path = "data/201902-citibike-tripdata.csv"
trips = spark.read.load(trips_data_path, format="csv", header="true", schema=trip_schema, inferSchema="false", sep=",")

print("Количество маршрутов:", trips.count())
trips.show(5)

Количество маршрутов: 943744
+------------+--------------------+--------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+-------+----------+----------+------+
|tripduration|           starttime|            stoptime|start_station_id|  start_station_name|start_station_latitude|start_station_longitude|end_station_id|    end_station_name|end_station_latitude|end_station_longitude|bike_id|  usertype|birth_year|gender|
+------------+--------------------+--------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+-------+----------+----------+------+
|         219|2019-02-01 00:00:...|2019-02-01 00:03:...|            3494|E 115 St & Lexing...|             40.797911|               -73.9423|          3501|E 118 St & Madiso...|          40.8014866|          -73.9442507|  33450|Subscriber|      1989|     1|
|         143|2019-02-01 00:00:...|2019-02-01 00:02:...|             438| St Marks Pl & 1 Ave|           40.72779126|           -73.98564945|           236| St Marks Pl & 2 Ave|          40.7284186|         -73.98713956|  25626|Subscriber|      1990|     1|
|         296|2019-02-01 00:01:...|2019-02-01 00:06:...|            3571|Bedford Ave & Ber...|             40.676368|             -73.952918|          3549|Grand Ave & Berge...|           40.678045|           -73.962408|  35568|Subscriber|      1987|     1|
|         478|2019-02-01 00:01:...|2019-02-01 00:09:...|             167|     E 39 St & 3 Ave|            40.7489006|           -73.97604882|           477|     W 41 St & 8 Ave|         40.75640548|          -73.9900262|  25045|Subscriber|      1964|     2|
|         225|2019-02-01 00:01:...|2019-02-01 00:05:...|            3458|     W 55 St & 6 Ave|     40.76309387270797|      -73.9783501625061|          3443|     W 52 St & 6 Ave|   40.76132983124814|   -73.97982001304626|  34006|Subscriber|      1979|     1|
+------------+--------------------+--------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+-------+----------+----------+------+
only showing top 5 rows

In [11]:
trips.printSchema()

root
 |-- tripduration: integer (nullable = true)
 |-- starttime: timestamp (nullable = true)
 |-- stoptime: timestamp (nullable = true)
 |-- start_station_id: integer (nullable = true)
 |-- start_station_name: string (nullable = true)
 |-- start_station_latitude: double (nullable = true)
 |-- start_station_longitude: double (nullable = true)
 |-- end_station_id: integer (nullable = true)
 |-- end_station_name: string (nullable = true)
 |-- end_station_latitude: double (nullable = true)
 |-- end_station_longitude: double (nullable = true)
 |-- bike_id: integer (nullable = true)
 |-- usertype: string (nullable = true)
 |-- birth_year: integer (nullable = true)
 |-- gender: integer (nullable = true)

## Задача 1

**1. определите для каждой станции количество начала поездок и количество завершения поездок**

In [12]:
from pyspark.sql.functions import desc,split,explode,count,avg,coalesce

stations = trips\
    .select(F.col('start_station_id').alias('id'), 
            F.col('start_station_name').alias('name'),
            F.col("start_station_latitude").alias('lat'), 
            F.col("start_station_longitude").alias('lng'))\
    .filter('lat is not null and lng is not null')\
    .distinct()
print('Количество станций: {}'.format(stations.count()))
print('Станции:')
stations.show()

print('Подсчет коиличеств поездок...')
stations = stations\
    .join(trips, stations.id == trips.start_station_id, how='left')\
    .groupBy('id', 'name', 'lat', 'lng') \
    .agg({'*': 'count'})\
    .withColumnRenamed('count(1)', 'start_cnt')\
    .join(trips, stations.id == trips.end_station_id, how='left')\
    .groupBy('id', 'name', 'lat', 'lng', 'start_cnt') \
    .agg({'*': 'count'})\
    .withColumnRenamed('count(1)', 'end_cnt')
stations.show()

Количество станций: 767
Станции:
+----+--------------------+-----------------+------------------+
|  id|                name|              lat|               lng|
+----+--------------------+-----------------+------------------+
| 312|Allen St & Stanto...|        40.722055|        -73.989111|
|3509|Lenox Ave & W 115 St|       40.8011939|       -73.9500739|
| 351|Front St & Maiden Ln|      40.70530954|      -74.00612572|
|3419| Douglass St & 4 Ave|       40.6792788|      -73.98154004|
| 259|South St & Whiteh...|      40.70122128|      -74.01234218|
|2017|     E 43 St & 2 Ave|      40.75022392|      -73.97121414|
| 504|     1 Ave & E 16 St|      40.73221853|      -73.98165557|
|3242|Schermerhorn St &...|40.69102925677968|-73.99183362722397|
|3491|    E 118 St & 1 Ave|         40.79747|         -73.93504|
|3664|North Moore St & ...|40.72019521437465| -74.0103006362915|
|3260|Mercer St & Bleec...|40.72706363348306|-73.99662137031554|
|3059|Pulaski St & Marc...|       40.6933982|        -73.939877|
| 423|     W 54 St & 9 Ave|      40.76584941|      -73.98690506|
|3605|31 Ave & Crescent St|       40.7658346|       -73.9265474|
|3372|     E 74 St & 1 Ave|       40.7689738|      -73.95482273|
|3514|Astoria Park S & ...|          40.7767|        -73.927631|
|3583|Eastern Pkwy & Wa...|       40.6716493|       -73.9631145|
|3283|W 89 St & Columbu...|       40.7882213|      -73.97041561|
| 247|Perry St & Bleeck...|      40.73535398|      -74.00483091|
|3576|Park Pl & Vanderb...|          40.6767|        -73.969024|
+----+--------------------+-----------------+------------------+
only showing top 20 rows

Подсчет коиличеств поездок...
+----+--------------------+-----------------+------------------+---------+-------+
|  id|                name|              lat|               lng|start_cnt|end_cnt|
+----+--------------------+-----------------+------------------+---------+-------+
| 471|Grand St & Haveme...|      40.71286844|      -73.95698119|      870|    873|
| 496|     E 16 St & 5 Ave|      40.73726186|      -73.99238967|     3275|   3301|
|3175|W 70 St & Amsterd...|      40.77748046|      -73.98288594|     1786|   1761|
| 243|Fulton St & Rockw...|        40.688226|        -73.979382|      588|    824|
| 392|    Jay St & Tech Pl|        40.695065|        -73.987167|     1034|   1101|
| 540|Lexington Ave & E...|40.74311555376486|-73.98215353488922|     2407|   2443|
|3179|Park Ave & Marcus...|        40.698617|        -73.941342|      241|    250|
|3226|W 82 St & Central...|         40.78275|         -73.97137|     1457|    988|
| 516|     E 47 St & 1 Ave|      40.75206862|      -73.96784384|     1043|   1045|
|3352|Sigourney St & Co...|40.67267243410948| -74.0087952464819|      172|    178|
|3704|47 Ave & Skillman...| 40.7437524099784|-73.94176483154297|       48|     54|
| 251| Mott St & Prince St|      40.72317958|      -73.99480012|     2178|   2171|
|3490|    E 116 St & 2 Ave|        40.796879|        -73.937261|      229|    227|
| 458|    11 Ave & W 27 St|        40.751396|        -74.005226|     2632|   2677|
|3377|Carroll St & Bond St|       40.6786115|      -73.99037292|      647|    667|
|3425|    2 Ave & E 104 St|       40.7892105|      -73.94370784|      610|    631|
|3561|      37 Ave & 35 St|       40.7531106|       -73.9279917|      163|    164|
|3566|Crescent St & 35 Ave|       40.7596276|       -73.9321455|      131|    134|
| 481|S 3 St & Bedford Ave|      40.71260486|      -73.96264403|     1122|    926|
|3042|Fulton St & Utica...|       40.6794268|       -73.9298911|      268|    263|
+----+--------------------+-----------------+------------------+---------+-------+
only showing top 20 rows

2. сопоставьте станции с кварталами города (zones) и определите суммы количества начала и завершения для кажого квартала выведите по убыванию и отобразите в виде картограмм (Choropleth)

In [13]:
from IPython.display import IFrame

def embed_map(m):
    m.save('index.html')
    return IFrame('index.html', width='100%', height='750px')

# выводим станции на карту
m = folium.Map()
for index, row in stations.toPandas().iterrows():
    folium.CircleMarker(location=(row["lat"], row["lng"]),
                        weight=1,
                        radius= 4,
                        color="#E3170A",
                        fill_color="#E3170A",
                        fill_opacity=0.3,
                        fill=True).add_to(m)
m.fit_bounds(m.get_bounds())
embed_map(m)

In [14]:
borough_data_path = "data/NYC Taxi Zones.geojson"

style_function = lambda x: {
    "color" : "#7EBDC3",
    "weight": 1
}

# выводим зоны на карту
folium.GeoJson(borough_data_path, name="geojson", style_function=style_function).add_to(m)
m.fit_bounds(m.get_bounds())
embed_map(m)

`Convert the zones GeoJson to GeoDataFrame:`

In [15]:
with open(borough_data_path) as f:
    zones_geojson = json.load(f)

column_name_list = [key for key, value in zones_geojson["features"][0]["properties"].items()]
column_name_list += ["geometry"]
column_name_list

['shape_area',
 'objectid',
 'shape_leng',
 'location_id',
 'zone',
 'borough',
 'geometry']

In [16]:
def get_pandas_rows(features):
    for item in features:
        row = list()
        for key, value in item["properties"].items():
            row.append(value)        
        polygons = list()
        for polygon in item["geometry"]["coordinates"]:
            polygons.append(Polygon(polygon[0]))
        row.append(MultiPolygon(polygons=polygons))
        yield row

In [17]:
zones = pd.DataFrame(get_pandas_rows(zones_geojson["features"]), columns=column_name_list)
zones.head(5)

,shape_area,objectid,shape_leng,location_id,zone,borough,geometry
0,0.0007823067885,1,0.116357453189,1,Newark Airport,EWR,(POLYGON ((-74.18445299999996 40.6949959999999...
1,0.00486634037837,2,0.43346966679,2,Jamaica Bay,Queens,(POLYGON ((-73.82337597260663 40.6389870471767...
2,0.000314414156821,3,0.0843411059012,3,Allerton/Pelham Gardens,Bronx,(POLYGON ((-73.84792614099985 40.8713422339999...
3,0.000111871946192,4,0.0435665270921,4,Alphabet City,Manhattan,(POLYGON ((-73.97177410965318 40.7258212813370...
4,0.000497957489363,5,0.0921464898574,5,Arden Heights,Staten Island,(POLYGON ((-74.17421738099989 40.5625680859999...

In [18]:
gdf_zones = gpd.GeoDataFrame(zones, geometry=zones["geometry"])
gdf_zones.head(5)

,shape_area,objectid,shape_leng,location_id,zone,borough,geometry
0,0.0007823067885,1,0.116357453189,1,Newark Airport,EWR,"MULTIPOLYGON (((-74.18445 40.69500, -74.18449 ..."
1,0.00486634037837,2,0.43346966679,2,Jamaica Bay,Queens,"MULTIPOLYGON (((-73.82338 40.63899, -73.82277 ..."
2,0.000314414156821,3,0.0843411059012,3,Allerton/Pelham Gardens,Bronx,"MULTIPOLYGON (((-73.84793 40.87134, -73.84725 ..."
3,0.000111871946192,4,0.0435665270921,4,Alphabet City,Manhattan,"MULTIPOLYGON (((-73.97177 40.72582, -73.97179 ..."
4,0.000497957489363,5,0.0921464898574,5,Arden Heights,Staten Island,"MULTIPOLYGON (((-74.17422 40.56257, -74.17349 ..."

In [19]:
# объединяем с таблицей зон
stations_p = stations.toPandas()
points = gpd.GeoDataFrame(stations_p, geometry=gpd.points_from_xy(stations_p['lng'], stations_p['lat']))
stations_joined = sjoin(points, gdf_zones, how="left")
stations_joined

,id,name,lat,lng,start_cnt,end_cnt,geometry,index_right,shape_area,objectid,shape_leng,location_id,zone,borough
0,471,Grand St & Havemeyer St,40.712868,-73.956981,870,873,POINT (-73.95698 40.71287),257,0.000172309184842,255,0.0623841997664,255,Williamsburg (North Side),Brooklyn
1,496,E 16 St & 5 Ave,40.737262,-73.992390,3275,3301,POINT (-73.99239 40.73726),234,0.0000731054382894,234,0.0360721994984,234,Union Sq,Manhattan
2,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,1786,1761,POINT (-73.98289 40.77748),146,0.00015109426901,143,0.0541798538849,143,Lincoln Square West,Manhattan
3,243,Fulton St & Rockwell Pl,40.688226,-73.979382,588,824,POINT (-73.97938 40.68823),97,0.000163303970435,97,0.0624760147423,97,Fort Greene,Brooklyn
4,392,Jay St & Tech Pl,40.695065,-73.987167,1034,1101,POINT (-73.98717 40.69506),64,0.000081803882541,65,0.0446070683658,65,Downtown Brooklyn/MetroTech,Brooklyn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
762,3053,Marcy Ave & Lafayette Ave,40.690081,-73.947915,180,158,POINT (-73.94791 40.69008),21,0.000322957654799,17,0.093522632948,17,Bedford,Brooklyn
763,3245,NYCBS DEPOT - DELANCEY,40.716444,-73.982331,2,20,POINT (-73.98233 40.71644),232,0.000216049973456,232,0.0614709085331,232,Two Bridges/Seward Park,Manhattan
764,3376,E 65 St & 2 Ave,40.764719,-73.962221,818,831,POINT (-73.96222 40.76472),142,0.0000766545579019,141,0.0415144638712,141,Lenox Hill West,Manhattan
765,3523,24 Ave & 29 St,40.772900,-73.916142,129,133,POINT (-73.91614 40.77290),225,0.00076436070058,223,0.166021925275,223,Steinway,Queens
766,3668,Leonard St & Nassau Ave,40.723957,-73.949844,964,962,POINT (-73.94984 40.72396),112,0.000462068671429,112,0.107267875765,112,Greenpoint,Brooklyn

In [20]:
# выводим суммы
count_for_zone = stations_joined\
    .groupby(["location_id", "zone"])\
    ['start_cnt', 'end_cnt'].sum()\
    .reset_index()
count_for_zone.sort_values(['start_cnt', 'end_cnt', 'location_id', 'zone'], ascending=False)

   location_id                     zone  start_cnt  end_cnt
85          79             East Village      43333    43170
81          68             East Chelsea      38967    39395
27         170              Murray Hill      32572    32578
49         234                 Union Sq      30527    31464
4          113  Greenwich Village North      26485    27054
..         ...                      ...        ...      ...
78          62      Crown Heights South        676      712
42         226                Sunnyside        607      621
86           8             Astoria Park        400      398
43         228         Sunset Park West        397      484
19         152           Manhattanville        231      229

[92 rows x 4 columns]

Отображаем на карте сначала по количеству начала поездок, затем по количеству окончания поездок

In [21]:
m = folium.Map()

folium.Choropleth(
    geo_data=zones_geojson,
    data=count_for_zone,
    columns=["location_id", "start_cnt"],
    name="Количество посадок",
    legend_name="Количество посадок",
    key_on="feature.properties.location_id",
    highlight=True,
    nan_fill_color="grey",
    nan_fill_opacity=0.1,
    fill_color="YlOrRd",
    fill_opacity=0.7,
    line_opacity=0.2,
).add_to(m)
m.fit_bounds(m.get_bounds())
embed_map(m)

In [22]:
m = folium.Map()

folium.Choropleth(
    geo_data=zones_geojson,
    data=count_for_zone,
    columns=["location_id", "end_cnt"],
    name="Количества высадок",
    legend_name="Количества высадок",
    key_on="feature.properties.location_id",
    highlight=True,
    nan_fill_color="grey",
    nan_fill_opacity=0.1,
    fill_color="YlOrRd",
    fill_opacity=0.5,
    line_opacity=0.3,
).add_to(m)
m.fit_bounds(m.get_bounds())
embed_map(m)

## Задача 2
1. определите "важность" вершин графа поездок с использование PageRank

In [23]:
stations = trips\
    .select(F.col('start_station_id').alias('id'), 
            F.col('start_station_name').alias('name'),
            F.col("start_station_latitude").alias('lat'), 
            F.col("start_station_longitude").alias('lng'))\
    .filter('lat is not null and lng is not null')\
    .distinct()
stations.show()

edges = trips\
    .select(F.col("start_station_id").alias("src"), 
            F.col("end_station_id").alias("dst"), 
            "tripduration")\
    .dropna(subset=['src'])\
    .dropna(subset=['dst'])

print("Общее количесвто ребер:", edges.count())
edges.show()

+----+--------------------+-----------------+------------------+
|  id|                name|              lat|               lng|
+----+--------------------+-----------------+------------------+
| 312|Allen St & Stanto...|        40.722055|        -73.989111|
|3509|Lenox Ave & W 115 St|       40.8011939|       -73.9500739|
| 351|Front St & Maiden Ln|      40.70530954|      -74.00612572|
|3419| Douglass St & 4 Ave|       40.6792788|      -73.98154004|
| 259|South St & Whiteh...|      40.70122128|      -74.01234218|
|2017|     E 43 St & 2 Ave|      40.75022392|      -73.97121414|
| 504|     1 Ave & E 16 St|      40.73221853|      -73.98165557|
|3242|Schermerhorn St &...|40.69102925677968|-73.99183362722397|
|3491|    E 118 St & 1 Ave|         40.79747|         -73.93504|
|3664|North Moore St & ...|40.72019521437465| -74.0103006362915|
|3260|Mercer St & Bleec...|40.72706363348306|-73.99662137031554|
|3059|Pulaski St & Marc...|       40.6933982|        -73.939877|
| 423|     W 54 St & 9 Ave|      40.76584941|      -73.98690506|
|3605|31 Ave & Crescent St|       40.7658346|       -73.9265474|
|3372|     E 74 St & 1 Ave|       40.7689738|      -73.95482273|
|3514|Astoria Park S & ...|          40.7767|        -73.927631|
|3583|Eastern Pkwy & Wa...|       40.6716493|       -73.9631145|
|3283|W 89 St & Columbu...|       40.7882213|      -73.97041561|
| 247|Perry St & Bleeck...|      40.73535398|      -74.00483091|
|3576|Park Pl & Vanderb...|          40.6767|        -73.969024|
+----+--------------------+-----------------+------------------+
only showing top 20 rows

Общее количесвто ребер: 943735
+----+----+------------+
| src| dst|tripduration|
+----+----+------------+
|3494|3501|         219|
| 438| 236|         143|
|3571|3549|         296|
| 167| 477|         478|
|3458|3443|         225|
|3078|3016|         457|
| 411| 317|         175|
|3628|3506|         248|
| 293| 383|         541|
| 380|3263|         406|
| 236|3660|         659|
|3167|3168|        1224|
| 484| 469|         419|
| 327| 312|         752|
|3243|3170|        1125|
| 362| 478|        1271|
| 490| 508|         469|
|3107|3096|         156|
|3263| 394|         342|
| 336| 326|         412|
+----+----+------------+
only showing top 20 rows

In [24]:
routes = gf.GraphFrame(stations, edges)
routes.triplets.show()

+--------------------+-----------------+--------------------+
|                 src|             edge|                 dst|
+--------------------+-----------------+--------------------+
|[471, Grand St & ...|   [471, 471, 66]|[471, Grand St & ...|
|[471, Grand St & ...|[471, 471, 13260]|[471, Grand St & ...|
|[471, Grand St & ...|  [471, 471, 582]|[471, Grand St & ...|
|[471, Grand St & ...| [471, 471, 2626]|[471, Grand St & ...|
|[471, Grand St & ...| [471, 471, 2649]|[471, Grand St & ...|
|[471, Grand St & ...|  [471, 471, 870]|[471, Grand St & ...|
|[471, Grand St & ...|  [471, 471, 784]|[471, Grand St & ...|
|[471, Grand St & ...|   [471, 471, 80]|[471, Grand St & ...|
|[471, Grand St & ...|  [471, 471, 997]|[471, Grand St & ...|
|[471, Grand St & ...|   [471, 471, 62]|[471, Grand St & ...|
|[471, Grand St & ...| [471, 471, 1127]|[471, Grand St & ...|
|[471, Grand St & ...|  [471, 471, 198]|[471, Grand St & ...|
|[471, Grand St & ...|  [471, 471, 347]|[471, Grand St & ...|
|[471, Grand St & ...|  [471, 471, 414]|[471, Grand St & ...|
|[471, Grand St & ...|  [471, 471, 142]|[471, Grand St & ...|
|[471, Grand St & ...|   [471, 471, 97]|[471, Grand St & ...|
|[471, Grand St & ...|  [471, 471, 727]|[471, Grand St & ...|
|[471, Grand St & ...|  [471, 471, 237]|[471, Grand St & ...|
|[471, Grand St & ...|   [471, 471, 86]|[471, Grand St & ...|
|[471, Grand St & ...|  [471, 471, 820]|[471, Grand St & ...|
+--------------------+-----------------+--------------------+
only showing top 20 rows

In [25]:
# Подсчитываю важность станций
# PageRank — это числовая величина, характеризующая «важность» узла. 
# Чем больше ребер соединено с ним, тем он «важнее», также учитывается вес ребер.
# Здесь PageRank - условно это число, которое характеризует как много нороду проезжает через эту станцию. 
routes_pr = routes.pageRank(resetProbability=0.1, maxIter=5)

2. Выводим по убыванию

In [26]:
routes_pr.vertices.orderBy(-F.col("pagerank")).show()

+----+--------------------+------------------+------------------+------------------+
|  id|                name|               lat|               lng|          pagerank|
+----+--------------------+------------------+------------------+------------------+
| 519|Pershing Square N...|         40.751873|        -73.977706| 4.406774001083143|
| 402|  Broadway & E 22 St|        40.7403432|      -73.98955109|  3.53228723171532|
| 435|     W 21 St & 6 Ave|       40.74173969|      -73.99415556| 3.269230720393528|
|3255|     8 Ave & W 31 St|  40.7505853470215| -73.9946848154068|3.2361769412840924|
| 497|  E 17 St & Broadway|       40.73704984|      -73.99009296|3.1645640088778486|
| 285|  Broadway & E 14 St|       40.73454567|      -73.99074142|3.0455207021823973|
|3429|Hanson Pl & Ashla...| 40.68506807308177|-73.97790759801863|2.8908249353666955|
| 359|  E 47 St & Park Ave|       40.75510267|      -73.97498696| 2.887482309374865|
| 477|     W 41 St & 8 Ave|       40.75640548|       -73.9900262|2.8056683538393674|
| 490|     8 Ave & W 33 St|         40.751551|        -73.993934| 2.801319478950549|
| 499|  Broadway & W 60 St|       40.76915505|      -73.98191841| 2.697236804351296|
| 293|Lafayette St & E ...| 40.73020660529954|-73.99102628231049|2.6773771113611673|
|3141|     1 Ave & E 68 St|       40.76500525|      -73.95818491|2.6743312968197634|
| 539|Metropolitan Ave ...|       40.71534825|      -73.96024116|2.6212025012325975|
|3660|     W 16 St & 8 Ave|40.741021509002664|  -74.001384973526| 2.569913429790843|
|3435|Grand St & Elizab...|         40.718822|         -73.99596|2.5477543207534405|
| 459|    W 20 St & 11 Ave|         40.746745|        -74.007756|2.5192559201470632|
| 523|     W 38 St & 8 Ave|       40.75466591|      -73.99138152| 2.508551043180366|
| 465|  Broadway & W 41 St|       40.75513557|      -73.98658032|  2.50507214636865|
|3263|Cooper Square & A...| 40.72951496224949|-73.99075269699097|2.4798483020943802|
+----+--------------------+------------------+------------------+------------------+
only showing top 20 rows

3. Отображаем на тепловой карте

In [27]:
trips_matrix = routes_pr.vertices.toPandas()[["lat", "lng", "pagerank"]].values
m = folium.Map()
HeatMap(trips_matrix, radius=15).add_to(m)
m.fit_bounds(m.get_bounds())
embed_map(m)

## Задача 3

оцените дистанцию поездок (в метрах) на основе координат начальной и конечной станций

In [28]:
from pyspark.sql.functions import acos, cos, sin, lit, toRadians

def distance(start_lng, start_lat, end_lng, end_lat):
    return acos(
        sin(toRadians(start_lat)) * sin(toRadians(end_lat)) +
        cos(toRadians(start_lat)) * cos(toRadians(end_lat)) *
        cos(toRadians(start_lng) - toRadians(end_lng))
    ) * lit(6371000.0)

выведите максимальное, среднее значение, стандартное отклонение и медиан

In [29]:
trips_new = trips.dropna(subset=['start_station_id']).dropna(subset=['end_station_id'])

trips_routes = trips_new\
            .dropDuplicates(['start_station_id','end_station_id'])\
            .filter(F.col("start_station_id") != F.col("end_station_id"))\
            .withColumn("distance", distance("start_station_longitude",
                                           "start_station_latitude", 
                                           "end_station_longitude",
                                           "end_station_latitude"))\

print("Количество маршрутов: {}".format(trips_routes.count()))
trips_routes.show()

Количество маршрутов: 131259
+------------+--------------------+--------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+-------+----------+----------+------+------------------+
|tripduration|           starttime|            stoptime|start_station_id|  start_station_name|start_station_latitude|start_station_longitude|end_station_id|    end_station_name|end_station_latitude|end_station_longitude|bike_id|  usertype|birth_year|gender|          distance|
+------------+--------------------+--------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+-------+----------+----------+------+------------------+
|         686|2019-02-03 08:02:...|2019-02-03 08:13:...|              72|    W 52 St & 11 Ave|           40.76727216|           -73.99392888|           484|     W 44 St & 5 Ave|         40.75500254|         -73.98014437|  34389|Subscriber|      1980|     2|1791.4335586355398|
|         957|2019-02-05 18:14:...|2019-02-05 18:30:...|             127|Barrow St & Hudso...|           40.73172428|           -74.00674436|           485|     W 37 St & 5 Ave|         40.75038009|         -73.98338988|  14903|Subscriber|      1984|     2|2859.1355781783695|
|         835|2019-02-10 13:27:...|2019-02-10 13:41:...|             127|Barrow St & Hudso...|           40.73172428|           -74.00674436|           486|  Broadway & W 29 St|          40.7462009|         -73.98855723|  33745|Subscriber|      1981|     1|2222.4162947640793|
|        1487|2019-02-15 18:24:...|2019-02-15 18:49:...|             146|Hudson St & Reade St|           40.71625008|            -74.0091059|          3416|     7 Ave & Park Pl|          40.6776147|         -73.97324283|  33815|Subscriber|      1990|     1| 5253.302653005851|
|        1296|2019-02-08 16:26:...|2019-02-08 16:48:...|             151|Cleveland Pl & Sp...|    40.722103786686034|     -73.99724900722504|           305|     E 58 St & 3 Ave|         40.76095756|         -73.96724467|  34419|Subscriber|      1974|     1| 5005.514483644771|
|         466|2019-02-07 08:35:...|2019-02-07 08:43:...|             151|Cleveland Pl & Sp...|    40.722103786686034|     -73.99724900722504|          3664|North Moore St & ...|   40.72019521437465|    -74.0103006362915|  18448|Subscriber|      1986|     1|1120.1987116373414|
|        1288|2019-02-02 20:00:...|2019-02-02 20:21:...|             157|Henry St & Atlant...|           40.69089272|           -73.99612349|          3368|        5 Ave & 3 St|          40.6728155|         -73.98352355|  18809|  Customer|      1969|     0|2273.6163423922626|
|         883|2019-02-03 15:48:...|2019-02-03 16:03:...|             157|Henry St & Atlant...|           40.69089272|           -73.99612349|          3419| Douglass St & 4 Ave|          40.6792788|         -73.98154004|  35243|Subscriber|      1987|     2|1783.2066011454644|
|         545|2019-02-01 23:35:...|2019-02-01 23:44:...|             161|LaGuardia Pl & W ...|           40.72917025|           -73.99810231|           531|Forsyth St & Broo...|         40.71893904|         -73.99266288|  26952|Subscriber|      1979|     2| 1226.532238325196|
|         397|2019-02-07 09:18:...|2019-02-07 09:25:...|             164|     E 47 St & 2 Ave|           40.75323098|           -73.97032517|          3443|     W 52 St & 6 Ave|   40.76132983124814|   -73.97982001304626|  35439|Subscriber|      1963|     1|1204.3942526605906|
|         868|2019-02-12 18:22:...|2019-02-12 18:36:...|             167|     E 39 St & 3 Ave|            40.7489006|           -73.97604882|          3160|Central Park West...|         40.77896784|         -73.97374737|  34651|Subscriber|      1981|     1| 3348.938357762674|
|        1277|2019-02-19 10:38:...|2019-02-19 11:00:...|             168|     W 18 St & 6 Ave|           40.73971301|           -73.99456405|           376|John St & William St|         40.70862144|         -74.00722156|  32196|Subscriber|      1995|     2|3618.0305381885737|
|        1304|2019-02-06 16:53:...|2019-02-06 17:15:...|             173|  Broadway & W 49 St|     40.76068327096592|      -73.9845272898674|          3295|Central Park W & ...|            40.79127|           -73.964839|  32049|Subscriber|      1961|     1| 3783.628773136907|
|        2789|2019-02-08 17:19:...|2019-02-08 18:05:...|             173|  Broadway & W 49 St|     40.76068327096592|      -73.9845272898674|          3404|        7 St & 5 Ave|          40.6704922|         -73.98541675|  26101|Subscriber|      1982|     1|10029.069693441857|
|        1345|2019-02-08 21:46:...|2019-02-08 22:08:...|             173|  Broadway & W 49 St|     40.76068327096592|      -73.9845272898674|          3718|  E 11 St & Avenue B|   40.72746420692392|   -73.97950418293476|  35802|Subscriber|      1956|     1| 3717.952202091431|
|        1190|2019-02-11 16:14:...|2019-02-11 16:34:...|             195|Liberty St & Broa...|           40.70905623|           -74.01043382|           298|3 Ave & Schermerh...|         40.68683208|          -73.9796772|  34143|Subscriber|      1985|     0|3581.8907518596066|
|         448|2019-02-04 17:42:...|2019-02-04 17:50:...|             195|Liberty St & Broa...|           40.70905623|           -74.01043382|           355|Bayard St & Baxte...|         40.71602118|         -73.99974372|  28813|Subscriber|      1991|     2|1188.1178500799515|
|        1315|2019-02-25 14:32:...|2019-02-25 14:54:...|             195|Liberty St & Broa...|           40.70905623|           -74.01043382|           442|     W 27 St & 7 Ave|           40.746647|           -73.993915|  35685|Subscriber|      1963|     1| 4405.582392685954|
|        1923|2019-02-15 18:26:...|2019-02-15 18:58:...|             195|Liberty St & Broa...|           40.70905623|           -74.01043382|          3571|Bedford Ave & Ber...|           40.676368|           -73.952918|  26998|Subscriber|      1982|     1| 6060.182281624131|
|        1971|2019-02-16 16:53:...|2019-02-16 17:26:...|             217|       Old Fulton St|           40.70277159|           -73.99383605|           229|      Great Jones St|         40.72743423|         -73.99379025|  31010|  Customer|      1980|     1|2742.3631598913917|
+------------+--------------------+--------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+-------+----------+----------+------+------------------+
only showing top 20 rows

In [30]:
trips_routes.describe("distance").show()

+-------+------------------+
|summary|          distance|
+-------+------------------+
|  count|            131259|
|   mean|2818.1040340510817|
| stddev| 1813.459185512828|
|    min| 36.73591246092364|
|    max|15326.431486453896|
+-------+------------------+

In [31]:
median = trips_routes.approxQuantile("distance", [0.5], 0)[0]
print('Медиана = {}'.format(median))

Медиана = 2435.3733872294574

## Задача 4
1. определите для каждой станции среднее количество начала поездок и количество завершения поездок:

а) в день

In [32]:
from pyspark.sql.functions  import date_format, unix_timestamp, hour
# для старта поездок. конвертируем в дни, конвертируем в дату, считаем число дней каждого дня недели
# итого в выводе получаем сопоставление станции и количества поездок в определнную дату
trips_routes_days_start = trips_new\
    .select(F.col('start_station_id').alias('id'), 
            F.col('start_station_name').alias('name'),
            F.col("starttime"))\
    .withColumn("weekday", date_format("starttime","E"))\
    .withColumn('starttime_unix', date_format('starttime', "yyyyMMdd"))\
    .groupBy("id", 'name', "weekday", "starttime_unix") \
    .agg(F.count("weekday").alias("count"))\
    .orderBy("count", ascending=False)
trips_routes_days_start.show()

# агрегируем полученные данные в нужном формате
print("Среднее количество начала поездок для каждого дня недели:")
trips_routes_days_start\
    .groupBy("id", "weekday", 'name')\
    .agg(F.avg("count").alias("avg"))\
    .orderBy("avg", ascending=False).show()

print("Среднее количество начала поездок в день:")
trips_routes_days_start\
    .groupBy("id", 'name')\
    .agg(F.avg("count").alias("avg"))\
    .orderBy("avg", ascending=False).show()

+----+--------------------+-------+--------------+-----+
|  id|                name|weekday|starttime_unix|count|
+----+--------------------+-------+--------------+-----+
| 519|Pershing Square N...|    Tue|      20190205|  579|
| 519|Pershing Square N...|    Mon|      20190204|  534|
| 519|Pershing Square N...|    Mon|      20190211|  501|
| 519|Pershing Square N...|    Fri|      20190215|  468|
| 519|Pershing Square N...|    Thu|      20190207|  459|
| 519|Pershing Square N...|    Mon|      20190225|  441|
| 519|Pershing Square N...|    Thu|      20190214|  433|
| 519|Pershing Square N...|    Tue|      20190219|  416|
| 519|Pershing Square N...|    Fri|      20190222|  414|
| 402|  Broadway & E 22 St|    Tue|      20190205|  397|
| 519|Pershing Square N...|    Thu|      20190228|  388|
|3255|     8 Ave & W 31 St|    Mon|      20190211|  376|
| 517|Pershing Square S...|    Thu|      20190221|  376|
| 519|Pershing Square N...|    Fri|      20190208|  375|
|3255|     8 Ave & W 31 St|    Tue|      20190205|  364|
| 519|Pershing Square N...|    Wed|      20190213|  364|
| 519|Pershing Square N...|    Wed|      20190206|  358|
| 402|  Broadway & E 22 St|    Mon|      20190204|  356|
| 497|  E 17 St & Broadway|    Tue|      20190205|  347|
| 519|Pershing Square N...|    Wed|      20190227|  341|
+----+--------------------+-------+--------------+-----+
only showing top 20 rows

Среднее количество начала поездок для каждого дня недели:
+----+-------+--------------------+------+
|  id|weekday|                name|   avg|
+----+-------+--------------------+------+
| 519|    Mon|Pershing Square N...| 406.0|
| 519|    Fri|Pershing Square N...| 382.5|
| 519|    Thu|Pershing Square N...|377.75|
| 519|    Tue|Pershing Square N...| 366.0|
| 519|    Wed|Pershing Square N...| 311.0|
|3255|    Thu|     8 Ave & W 31 St|289.75|
| 359|    Thu|  E 47 St & Park Ave| 288.5|
|3255|    Tue|     8 Ave & W 31 St|283.25|
| 517|    Thu|Pershing Square S...| 275.0|
| 435|    Thu|     W 21 St & 6 Ave|268.25|
|3255|    Mon|     8 Ave & W 31 St|267.75|
| 435|    Mon|     W 21 St & 6 Ave|261.25|
| 402|    Thu|  Broadway & E 22 St| 260.5|
| 497|    Fri|  E 17 St & Broadway| 253.0|
|3255|    Fri|     8 Ave & W 31 St| 251.5|
| 402|    Mon|  Broadway & E 22 St| 246.5|
| 497|    Thu|  E 17 St & Broadway| 245.5|
|3255|    Wed|     8 Ave & W 31 St| 245.5|
| 402|    Fri|  Broadway & E 22 St| 245.0|
| 477|    Thu|     W 41 St & 8 Ave|244.25|
+----+-------+--------------------+------+
only showing top 20 rows

Среднее количество начала поездок в день:
+----+--------------------+------------------+
|  id|                name|               avg|
+----+--------------------+------------------+
| 519|Pershing Square N...| 288.7142857142857|
| 435|     W 21 St & 6 Ave|225.10714285714286|
|3255|     8 Ave & W 31 St|213.17857142857142|
| 497|  E 17 St & Broadway|210.82142857142858|
| 402|  Broadway & E 22 St|206.71428571428572|
| 285|  Broadway & E 14 St|204.03571428571428|
| 490|     8 Ave & W 33 St|179.82142857142858|
| 477|     W 41 St & 8 Ave|            179.75|
| 293|Lafayette St & E ...|172.71428571428572|
|3660|     W 16 St & 8 Ave|            171.75|
| 459|    W 20 St & 11 Ave|169.03571428571428|
| 359|  E 47 St & Park Ave|166.53571428571428|
| 523|     W 38 St & 8 Ave|165.85714285714286|
| 499|  Broadway & W 60 St|162.39285714285714|
| 379|     W 31 St & 7 Ave|            159.75|
|3641|  Broadway & W 25 St|158.03571428571428|
| 492|     W 33 St & 7 Ave|157.21428571428572|
| 465|  Broadway & W 41 St|            154.75|
| 504|     1 Ave & E 16 St|152.21428571428572|
| 505|     6 Ave & W 33 St|152.03571428571428|
+----+--------------------+------------------+
only showing top 20 rows

In [33]:
trips_routes_days_end = trips_new\
    .select(F.col('end_station_id').alias('id'), 
            F.col('end_station_name').alias('name'),
            F.col("starttime"))\
    .withColumn("weekday", date_format("starttime","E"))\
    .withColumn('starttime_unix', date_format('starttime', "yyyyMMdd"))\
    .groupBy("id", 'name', "weekday", "starttime_unix") \
    .agg(F.count("weekday").alias("count"))\
    .orderBy("count", ascending=False)
trips_routes_days_end.show()

# агрегируем полученные данные в нужном формате
print("Среднее количество начала поездок для каждого дня недели:")
trips_routes_days_end\
    .groupBy("id", "weekday", 'name')\
    .agg(F.avg("count").alias("avg"))\
    .orderBy("avg", ascending=False).show()

print("Среднее количество начала поездок в день:")
trips_routes_days_end\
    .groupBy("id", 'name')\
    .agg(F.avg("count").alias("avg"))\
    .orderBy("avg", ascending=False).show()

+----+--------------------+-------+--------------+-----+
|  id|                name|weekday|starttime_unix|count|
+----+--------------------+-------+--------------+-----+
| 519|Pershing Square N...|    Tue|      20190205|  581|
| 519|Pershing Square N...|    Mon|      20190211|  501|
| 519|Pershing Square N...|    Mon|      20190204|  500|
| 519|Pershing Square N...|    Fri|      20190215|  470|
| 519|Pershing Square N...|    Thu|      20190207|  442|
| 519|Pershing Square N...|    Mon|      20190225|  440|
| 519|Pershing Square N...|    Thu|      20190214|  437|
| 519|Pershing Square N...|    Tue|      20190219|  416|
| 519|Pershing Square N...|    Wed|      20190206|  406|
| 402|  Broadway & E 22 St|    Tue|      20190205|  403|
| 519|Pershing Square N...|    Fri|      20190222|  397|
|3255|     8 Ave & W 31 St|    Tue|      20190205|  396|
| 519|Pershing Square N...|    Thu|      20190228|  392|
| 519|Pershing Square N...|    Wed|      20190213|  380|
| 402|  Broadway & E 22 St|    Mon|      20190204|  374|
| 519|Pershing Square N...|    Tue|      20190226|  367|
| 519|Pershing Square N...|    Fri|      20190208|  354|
| 497|  E 17 St & Broadway|    Tue|      20190205|  349|
| 517|Pershing Square S...|    Thu|      20190221|  348|
| 519|Pershing Square N...|    Wed|      20190227|  340|
+----+--------------------+-------+--------------+-----+
only showing top 20 rows

Среднее количество начала поездок для каждого дня недели:
+----+-------+--------------------+------+
|  id|weekday|                name|   avg|
+----+-------+--------------------+------+
| 519|    Mon|Pershing Square N...|403.25|
| 519|    Tue|Pershing Square N...| 383.5|
| 519|    Thu|Pershing Square N...|376.25|
| 519|    Fri|Pershing Square N...|372.75|
| 519|    Wed|Pershing Square N...|334.75|
|3255|    Thu|     8 Ave & W 31 St|327.25|
| 402|    Thu|  Broadway & E 22 St|311.75|
|3255|    Fri|     8 Ave & W 31 St|295.75|
| 402|    Tue|  Broadway & E 22 St|284.75|
| 402|    Mon|  Broadway & E 22 St|278.75|
| 402|    Wed|  Broadway & E 22 St| 278.0|
| 359|    Thu|  E 47 St & Park Ave|275.75|
| 497|    Fri|  E 17 St & Broadway|269.75|
| 435|    Thu|     W 21 St & 6 Ave| 262.5|
|3255|    Tue|     8 Ave & W 31 St|259.75|
| 402|    Fri|  Broadway & E 22 St| 257.0|
|3255|    Mon|     8 Ave & W 31 St| 253.5|
| 477|    Thu|     W 41 St & 8 Ave| 251.0|
| 359|    Wed|  E 47 St & Park Ave| 250.0|
|3255|    Wed|     8 Ave & W 31 St|248.75|
+----+-------+--------------------+------+
only showing top 20 rows

Среднее количество начала поездок в день:
+----+--------------------+------------------+
|  id|                name|               avg|
+----+--------------------+------------------+
| 519|Pershing Square N...|292.60714285714283|
| 402|  Broadway & E 22 St|238.85714285714286|
| 435|     W 21 St & 6 Ave|225.10714285714286|
|3255|     8 Ave & W 31 St|219.32142857142858|
| 497|  E 17 St & Broadway|             213.0|
| 285|  Broadway & E 14 St|206.92857142857142|
| 490|     8 Ave & W 33 St|181.17857142857142|
| 477|     W 41 St & 8 Ave|178.89285714285714|
| 293|Lafayette St & E ...|178.21428571428572|
|3660|     W 16 St & 8 Ave|172.39285714285714|
| 359|  E 47 St & Park Ave|172.35714285714286|
| 459|    W 20 St & 11 Ave|168.89285714285714|
| 523|     W 38 St & 8 Ave|167.71428571428572|
|3263|Cooper Square & A...|165.07142857142858|
| 379|     W 31 St & 7 Ave|158.71428571428572|
|3641|  Broadway & W 25 St|157.39285714285714|
| 492|     W 33 St & 7 Ave|156.60714285714286|
| 465|  Broadway & W 41 St|155.85714285714286|
| 505|     6 Ave & W 33 St|152.64285714285714|
| 499|  Broadway & W 60 St|151.28571428571428|
+----+--------------------+------------------+
only showing top 20 rows

б) утром (06:00-11:59), днем (12:00-17:59), вечером (18:00-23:59), ночью (00:00-05:59)

In [34]:
# выведем следнее количество по часам, вообще не привязываясь к дням недели
start_trips_hours_cnt = trips_new\
    .select(F.col('start_station_id').alias('id'), 
            F.col('start_station_name').alias('name'),
            F.col('start_station_latitude').alias('lat'),
            F.col('start_station_longitude').alias('lng'),
            F.col("starttime"), 
            hour(F.col('starttime')).alias('hour'))\
    .withColumn('starttime_unix', date_format('starttime', "yyyyMMdd"))\
    .groupBy('id','hour','name', 'lat', 'lng','starttime_unix')\
    .agg(F.count('hour').alias('count'))\
    .orderBy('count', ascending=False)
start_trips_hours_cnt.show()

print("Среднее число начала поездок в течение дня:")

print("Ночью:")
start_trips_night_cnt = start_trips_hours_cnt\
        .filter(F.col('hour') < 6)\
        .filter(F.col('hour') >= 0)\
        .groupBy('id','name', 'lat', 'lng')\
        .agg(F.avg('count').alias('avg'))
start_trips_night_cnt.orderBy('avg', ascending=False).show()

print("Утром:")
start_trips_morning_cnt = start_trips_hours_cnt\
    .filter(F.col('hour') < 12)\
    .filter(F.col('hour') >= 6)\
    .groupBy('id','name', 'lat', 'lng')\
    .agg(F.avg('count').alias('avg'))
start_trips_morning_cnt.orderBy('avg', ascending=False).show()

print("Днем:")
start_trips_afternoon_cnt = start_trips_hours_cnt\
    .filter(F.col('hour') < 18)\
    .filter(F.col('hour') >= 12)\
    .groupBy('id','name', 'lat', 'lng')\
    .agg(F.avg('count').alias('avg'))
start_trips_afternoon_cnt.orderBy('avg', ascending=False).show()

print("Вечером:")
start_trips_evening_cnt = start_trips_hours_cnt\
    .filter(F.col('hour') < 24)\
    .filter(F.col('hour') >= 18)\
    .groupBy('id','name', 'lat', 'lng')\
    .agg(F.avg('count').alias('avg'))
start_trips_evening_cnt.orderBy('id').show()

+----+----+--------------------+-----------------+------------------+--------------+-----+
|  id|hour|                name|              lat|               lng|starttime_unix|count|
+----+----+--------------------+-----------------+------------------+--------------+-----+
| 519|  17|Pershing Square N...|        40.751873|        -73.977706|      20190205|  125|
| 519|  18|Pershing Square N...|        40.751873|        -73.977706|      20190205|  117|
| 519|  17|Pershing Square N...|        40.751873|        -73.977706|      20190211|   95|
|3255|   8|     8 Ave & W 31 St| 40.7505853470215| -73.9946848154068|      20190211|   93|
| 519|  17|Pershing Square N...|        40.751873|        -73.977706|      20190208|   92|
| 519|  18|Pershing Square N...|        40.751873|        -73.977706|      20190219|   87|
| 519|  18|Pershing Square N...|        40.751873|        -73.977706|      20190204|   86|
| 359|  17|  E 47 St & Park Ave|      40.75510267|      -73.97498696|      20190204|   84|
|3255|   8|     8 Ave & W 31 St| 40.7505853470215| -73.9946848154068|      20190204|   83|
| 519|  18|Pershing Square N...|        40.751873|        -73.977706|      20190215|   83|
| 402|  18|  Broadway & E 22 St|       40.7403432|      -73.98955109|      20190204|   79|
|3443|  17|     W 52 St & 6 Ave|40.76132983124814|-73.97982001304626|      20190205|   77|
| 359|  17|  E 47 St & Park Ave|      40.75510267|      -73.97498696|      20190214|   77|
| 519|  17|Pershing Square N...|        40.751873|        -73.977706|      20190214|   77|
| 359|  17|  E 47 St & Park Ave|      40.75510267|      -73.97498696|      20190207|   75|
|3664|  17|North Moore St & ...|40.72019521437465| -74.0103006362915|      20190205|   75|
|3255|   6|     8 Ave & W 31 St| 40.7505853470215| -73.9946848154068|      20190206|   74|
|3255|   7|     8 Ave & W 31 St| 40.7505853470215| -73.9946848154068|      20190205|   73|
| 359|  17|  E 47 St & Park Ave|      40.75510267|      -73.97498696|      20190215|   73|
|3443|  17|     W 52 St & 6 Ave|40.76132983124814|-73.97982001304626|      20190215|   73|
+----+----+--------------------+-----------------+------------------+--------------+-----+
only showing top 20 rows

Среднее число начала поездок в течение дня:
Ночью:
+----+--------------------+-----------------+------------------+------------------+
|  id|                name|              lat|               lng|               avg|
+----+--------------------+-----------------+------------------+------------------+
| 477|     W 41 St & 8 Ave|      40.75640548|       -73.9900262| 4.813084112149533|
| 492|     W 33 St & 7 Ave|      40.75019995|      -73.99093085| 4.411764705882353|
| 529|     W 42 St & 8 Ave|       40.7575699|      -73.99098507|3.5454545454545454|
|3443|     W 52 St & 6 Ave|40.76132983124814|-73.97982001304626|2.4285714285714284|
| 490|     8 Ave & W 33 St|        40.751551|        -73.993934|             2.425|
| 379|     W 31 St & 7 Ave|        40.749156|          -73.9916|2.4029850746268657|
|3140|     1 Ave & E 78 St|      40.77140426|       -73.9535166|  2.27027027027027|
| 509|     9 Ave & W 22 St|       40.7454973|      -74.00197139|             2.075|
| 401|Allen St & Riving...|      40.72019576|      -73.98997825|2.0384615384615383|
| 312|Allen St & Stanto...|        40.722055|        -73.989111|2.0294117647058822|
|3236|  W 42 St & Dyer Ave|40.75898481399634|-73.99379968643188| 2.019230769230769|
|3586|      34 Ave & 13 St|       40.7638753|       -73.9364848|               2.0|
| 368|  Carmine St & 6 Ave|      40.73038599|      -74.00214988|1.9425287356321839|
| 439|      E 4 St & 2 Ave|       40.7262807|      -73.98978041|1.9411764705882353|
| 380|    W 4 St & 7 Ave S|      40.73401143|      -74.00293877|1.9166666666666667|
|3255|     8 Ave & W 31 St| 40.7505853470215| -73.9946848154068|1.9090909090909092|
|3164|Columbus Ave & W ...|       40.7770575|      -73.97898475|1.8717948717948718|
| 237|     E 11 St & 2 Ave|      40.73047309|      -73.98672378|1.8269230769230769|
| 432|   E 7 St & Avenue A|      40.72621788|      -73.98379855|             1.825|
| 359|  E 47 St & Park Ave|      40.75510267|      -73.97498696|1.8108108108108107|
+----+--------------------+-----------------+------------------+------------------+
only showing top 20 rows

Утром:
+----+--------------------+------------------+------------------+------------------+
|  id|                name|               lat|               lng|               avg|
+----+--------------------+------------------+------------------+------------------+
|3255|     8 Ave & W 31 St|  40.7505853470215| -73.9946848154068| 22.32919254658385|
| 519|Pershing Square N...|         40.751873|        -73.977706| 18.26993865030675|
| 490|     8 Ave & W 33 St|         40.751551|        -73.993934|11.866666666666667|
| 523|     W 38 St & 8 Ave|       40.75466591|      -73.99138152|11.540880503144654|
| 517|Pershing Square S...|         40.751581|         -73.97791|11.318840579710145|
| 465|  Broadway & W 41 St|       40.75513557|      -73.98658032|            11.125|
| 445|  E 10 St & Avenue A|       40.72740794|      -73.98142006|11.024539877300613|
| 359|  E 47 St & Park Ave|       40.75510267|      -73.97498696|10.851851851851851|
| 379|     W 31 St & 7 Ave|         40.749156|          -73.9916|10.753086419753087|
| 492|     W 33 St & 7 Ave|       40.75019995|      -73.99093085|10.532051282051283|
| 504|     1 Ave & E 16 St|       40.73221853|      -73.98165557|10.463414634146341|
|3711|  E 13 St & Avenue A| 40.72966729392978|-73.98067966103554|10.385093167701863|
| 505|     6 Ave & W 33 St|       40.74901271|      -73.98848395|10.354037267080745|
| 358|Christopher St & ...|       40.73291553|      -74.00711384|10.294871794871796|
|3164|Columbus Ave & W ...|        40.7770575|      -73.97898475|10.031055900621118|
| 468|  Broadway & W 56 St|        40.7652654|      -73.98192338|10.025974025974026|
| 487| E 20 St & FDR Drive|       40.73314259|      -73.97573881| 9.895705521472392|
| 435|     W 21 St & 6 Ave|       40.74173969|      -73.99415556| 9.869281045751634|
| 477|     W 41 St & 8 Ave|       40.75640548|       -73.9900262| 9.812121212121212|
|3660|     W 16 St & 8 Ave|40.741021509002664|  -74.001384973526|           9.23125|
+----+--------------------+------------------+------------------+------------------+
only showing top 20 rows

Днем:
+----+--------------------+------------------+------------------+------------------+
|  id|                name|               lat|               lng|               avg|
+----+--------------------+------------------+------------------+------------------+
| 435|     W 21 St & 6 Ave|       40.74173969|      -73.99415556|18.035714285714285|
| 497|  E 17 St & Broadway|       40.73704984|      -73.99009296| 16.91616766467066|
| 519|Pershing Square N...|         40.751873|        -73.977706|16.613496932515336|
| 402|  Broadway & E 22 St|        40.7403432|      -73.98955109|15.601190476190476|
| 285|  Broadway & E 14 St|       40.73454567|      -73.99074142| 14.81547619047619|
|3641|  Broadway & W 25 St| 40.74286877312112|-73.98918628692627| 14.04191616766467|
| 359|  E 47 St & Park Ave|       40.75510267|      -73.97498696|13.789808917197453|
| 499|  Broadway & W 60 St|       40.76915505|      -73.98191841|12.898809523809524|
| 491|E 24 St & Park Ave S|       40.74096374|      -73.98602213|12.857142857142858|
| 293|Lafayette St & E ...| 40.73020660529954|-73.99102628231049|12.327380952380953|
|3435|Grand St & Elizab...|         40.718822|         -73.99596|              12.0|
| 168|     W 18 St & 6 Ave|       40.73971301|      -73.99456405|11.666666666666666|
|3660|     W 16 St & 8 Ave|40.741021509002664|  -74.001384973526|11.571428571428571|
|3443|     W 52 St & 6 Ave| 40.76132983124814|-73.97982001304626| 11.56969696969697|
| 459|    W 20 St & 11 Ave|         40.746745|        -74.007756| 11.31547619047619|
|3233|     E 48 St & 5 Ave| 40.75724567911726|-73.97805914282799|10.745454545454546|
|3664|North Moore St & ...| 40.72019521437465| -74.0103006362915|10.524390243902438|
| 524|     W 43 St & 6 Ave|       40.75527307|      -73.98316936|10.502994011976048|
| 151|Cleveland Pl & Sp...|40.722103786686034|-73.99724900722504|10.339506172839506|
| 173|  Broadway & W 49 St| 40.76068327096592| -73.9845272898674|10.311377245508982|
+----+--------------------+------------------+------------------+------------------+
only showing top 20 rows

Вечером:

+---+--------------------+------------------+------------------+------------------+
| id|                name|               lat|               lng|               avg|
+---+--------------------+------------------+------------------+------------------+
| 72|    W 52 St & 11 Ave|       40.76727216|      -73.99392888|3.4414414414414414|
| 79|Franklin St & W B...|       40.71911552|      -74.00666661|3.2916666666666665|
| 82|St James Pl & Pea...|       40.71117416|      -74.00016545| 1.941860465116279|
| 83|Atlantic Ave & Fo...|       40.68382604|      -73.97632328|2.3229166666666665|
|119|Park Ave & St Edw...|       40.69608941|      -73.97803415|1.2105263157894737|
|120|Lexington Ave & C...|       40.68676793|      -73.95928168|1.4736842105263157|
|127|Barrow St & Hudso...|       40.73172428|      -74.00674436|             5.312|
|128|MacDougal St & Pr...|       40.72710258|      -74.00297088|4.8311688311688314|
|143|Clinton St & Jora...|       40.69239502|      -73.99337909| 3.107142857142857|
|144| Nassau St & Navy St|       40.69839895|      -73.98068914|1.6166666666666667|
|146|Hudson St & Reade St|       40.71625008|       -74.0091059| 3.303703703703704|
|150|   E 2 St & Avenue C|        40.7208736|      -73.98085795| 2.685483870967742|
|151|Cleveland Pl & Sp...|40.722103786686034|-73.99724900722504|              6.85|
|157|Henry St & Atlant...|       40.69089272|      -73.99612349|2.5247524752475248|
|161|LaGuardia Pl & W ...|       40.72917025|      -73.99810231| 5.428571428571429|
|164|     E 47 St & 2 Ave|       40.75323098|      -73.97032517|3.5555555555555554|
|167|     E 39 St & 3 Ave|        40.7489006|      -73.97604882| 3.949275362318841|
|168|     W 18 St & 6 Ave|       40.73971301|      -73.99456405|7.4148148148148145|
|173|  Broadway & W 49 St| 40.76068327096592| -73.9845272898674| 4.666666666666667|
|174|     E 25 St & 1 Ave|        40.7381765|      -73.97738662|3.6769230769230767|
+---+--------------------+------------------+------------------+------------------+
only showing top 20 rows

In [35]:
end_trips_hours_cnt = trips_new\
    .select(F.col('end_station_id').alias('id'), 
            F.col('end_station_name').alias('name'),
            F.col('end_station_latitude').alias('lat'),
            F.col('end_station_longitude').alias('lng'),
            F.col("starttime"), 
            hour(F.col('starttime')).alias('hour'))\
    .withColumn('starttime_unix', date_format('starttime', "yyyyMMdd"))\
    .groupBy('id','hour','name', 'lat', 'lng','starttime_unix')\
    .agg(F.count('hour').alias('count'))\
    .orderBy('count', ascending=False)
end_trips_hours_cnt.show()

print("Среднее число конца поездок в течение дня:")

print("Ночью:")
end_trips_night_cnt = start_trips_hours_cnt\
        .filter(F.col('hour') < 6)\
        .filter(F.col('hour') >= 0)\
        .groupBy('id','name', 'lat', 'lng')\
        .agg(F.avg('count').alias('avg'))
end_trips_night_cnt.orderBy('avg', ascending=False).show()

print("Утром:")
end_trips_morning_cnt = start_trips_hours_cnt\
    .filter(F.col('hour') < 12)\
    .filter(F.col('hour') >= 6)\
    .groupBy('id','name', 'lat', 'lng')\
    .agg(F.avg('count').alias('avg'))
end_trips_morning_cnt.orderBy('avg', ascending=False).show()

print("Днем:")
end_trips_afternoon_cnt = start_trips_hours_cnt\
    .filter(F.col('hour') < 18)\
    .filter(F.col('hour') >= 12)\
    .groupBy('id','name', 'lat', 'lng')\
    .agg(F.avg('count').alias('avg'))
end_trips_afternoon_cnt.orderBy('avg', ascending=False).show()

print("Вечером:")
end_trips_evening_cnt = start_trips_hours_cnt\
    .filter(F.col('hour') < 24)\
    .filter(F.col('hour') >= 18)\
    .groupBy('id','name', 'lat', 'lng')\
    .agg(F.avg('count').alias('avg'))
end_trips_evening_cnt.orderBy('id').show()

+----+----+--------------------+-----------------+------------------+--------------+-----+
|  id|hour|                name|              lat|               lng|starttime_unix|count|
+----+----+--------------------+-----------------+------------------+--------------+-----+
| 519|  17|Pershing Square N...|        40.751873|        -73.977706|      20190205|  122|
|3255|  17|     8 Ave & W 31 St| 40.7505853470215| -73.9946848154068|      20190205|  116|
| 519|  17|Pershing Square N...|        40.751873|        -73.977706|      20190225|  115|
| 519|  17|Pershing Square N...|        40.751873|        -73.977706|      20190211|  111|
|3255|  17|     8 Ave & W 31 St| 40.7505853470215| -73.9946848154068|      20190204|  108|
| 359|   8|  E 47 St & Park Ave|      40.75510267|      -73.97498696|      20190205|  104|
| 359|   8|  E 47 St & Park Ave|      40.75510267|      -73.97498696|      20190206|  102|
|3255|  17|     8 Ave & W 31 St| 40.7505853470215| -73.9946848154068|      20190221|   99|
|3255|  17|     8 Ave & W 31 St| 40.7505853470215| -73.9946848154068|      20190214|   97|
| 359|   8|  E 47 St & Park Ave|      40.75510267|      -73.97498696|      20190207|   96|
|3255|  17|     8 Ave & W 31 St| 40.7505853470215| -73.9946848154068|      20190228|   91|
|3255|  17|     8 Ave & W 31 St| 40.7505853470215| -73.9946848154068|      20190207|   90|
| 519|  17|Pershing Square N...|        40.751873|        -73.977706|      20190214|   89|
| 402|   9|  Broadway & E 22 St|       40.7403432|      -73.98955109|      20190205|   89|
|3443|   8|     W 52 St & 6 Ave|40.76132983124814|-73.97982001304626|      20190207|   88|
|3255|  17|     8 Ave & W 31 St| 40.7505853470215| -73.9946848154068|      20190211|   87|
|3255|  16|     8 Ave & W 31 St| 40.7505853470215| -73.9946848154068|      20190208|   87|
| 519|  17|Pershing Square N...|        40.751873|        -73.977706|      20190219|   85|
| 402|   9|  Broadway & E 22 St|       40.7403432|      -73.98955109|      20190204|   85|
|3255|  17|     8 Ave & W 31 St| 40.7505853470215| -73.9946848154068|      20190225|   84|
+----+----+--------------------+-----------------+------------------+--------------+-----+
only showing top 20 rows

Среднее число конца поездок в течение дня:
Ночью:
+----+--------------------+-----------------+------------------+------------------+
|  id|                name|              lat|               lng|               avg|
+----+--------------------+-----------------+------------------+------------------+
| 477|     W 41 St & 8 Ave|      40.75640548|       -73.9900262| 4.813084112149533|
| 492|     W 33 St & 7 Ave|      40.75019995|      -73.99093085| 4.411764705882353|
| 529|     W 42 St & 8 Ave|       40.7575699|      -73.99098507|3.5454545454545454|
|3443|     W 52 St & 6 Ave|40.76132983124814|-73.97982001304626|2.4285714285714284|
| 490|     8 Ave & W 33 St|        40.751551|        -73.993934|             2.425|
| 379|     W 31 St & 7 Ave|        40.749156|          -73.9916|2.4029850746268657|
|3140|     1 Ave & E 78 St|      40.77140426|       -73.9535166|  2.27027027027027|
| 509|     9 Ave & W 22 St|       40.7454973|      -74.00197139|             2.075|
| 401|Allen St & Riving...|      40.72019576|      -73.98997825|2.0384615384615383|
| 312|Allen St & Stanto...|        40.722055|        -73.989111|2.0294117647058822|
|3236|  W 42 St & Dyer Ave|40.75898481399634|-73.99379968643188| 2.019230769230769|
|3586|      34 Ave & 13 St|       40.7638753|       -73.9364848|               2.0|
| 368|  Carmine St & 6 Ave|      40.73038599|      -74.00214988|1.9425287356321839|
| 439|      E 4 St & 2 Ave|       40.7262807|      -73.98978041|1.9411764705882353|
| 380|    W 4 St & 7 Ave S|      40.73401143|      -74.00293877|1.9166666666666667|
|3255|     8 Ave & W 31 St| 40.7505853470215| -73.9946848154068|1.9090909090909092|
|3164|Columbus Ave & W ...|       40.7770575|      -73.97898475|1.8717948717948718|
| 237|     E 11 St & 2 Ave|      40.73047309|      -73.98672378|1.8269230769230769|
| 432|   E 7 St & Avenue A|      40.72621788|      -73.98379855|             1.825|
| 359|  E 47 St & Park Ave|      40.75510267|      -73.97498696|1.8108108108108107|
+----+--------------------+-----------------+------------------+------------------+
only showing top 20 rows

Утром:
+----+--------------------+------------------+------------------+------------------+
|  id|                name|               lat|               lng|               avg|
+----+--------------------+------------------+------------------+------------------+
|3255|     8 Ave & W 31 St|  40.7505853470215| -73.9946848154068| 22.32919254658385|
| 519|Pershing Square N...|         40.751873|        -73.977706| 18.26993865030675|
| 490|     8 Ave & W 33 St|         40.751551|        -73.993934|11.866666666666667|
| 523|     W 38 St & 8 Ave|       40.75466591|      -73.99138152|11.540880503144654|
| 517|Pershing Square S...|         40.751581|         -73.97791|11.318840579710145|
| 465|  Broadway & W 41 St|       40.75513557|      -73.98658032|            11.125|
| 445|  E 10 St & Avenue A|       40.72740794|      -73.98142006|11.024539877300613|
| 359|  E 47 St & Park Ave|       40.75510267|      -73.97498696|10.851851851851851|
| 379|     W 31 St & 7 Ave|         40.749156|          -73.9916|10.753086419753087|
| 492|     W 33 St & 7 Ave|       40.75019995|      -73.99093085|10.532051282051283|
| 504|     1 Ave & E 16 St|       40.73221853|      -73.98165557|10.463414634146341|
|3711|  E 13 St & Avenue A| 40.72966729392978|-73.98067966103554|10.385093167701863|
| 505|     6 Ave & W 33 St|       40.74901271|      -73.98848395|10.354037267080745|
| 358|Christopher St & ...|       40.73291553|      -74.00711384|10.294871794871796|
|3164|Columbus Ave & W ...|        40.7770575|      -73.97898475|10.031055900621118|
| 468|  Broadway & W 56 St|        40.7652654|      -73.98192338|10.025974025974026|
| 487| E 20 St & FDR Drive|       40.73314259|      -73.97573881| 9.895705521472392|
| 435|     W 21 St & 6 Ave|       40.74173969|      -73.99415556| 9.869281045751634|
| 477|     W 41 St & 8 Ave|       40.75640548|       -73.9900262| 9.812121212121212|
|3660|     W 16 St & 8 Ave|40.741021509002664|  -74.001384973526|           9.23125|
+----+--------------------+------------------+------------------+------------------+
only showing top 20 rows

Днем:
+----+--------------------+------------------+------------------+------------------+
|  id|                name|               lat|               lng|               avg|
+----+--------------------+------------------+------------------+------------------+
| 435|     W 21 St & 6 Ave|       40.74173969|      -73.99415556|18.035714285714285|
| 497|  E 17 St & Broadway|       40.73704984|      -73.99009296| 16.91616766467066|
| 519|Pershing Square N...|         40.751873|        -73.977706|16.613496932515336|
| 402|  Broadway & E 22 St|        40.7403432|      -73.98955109|15.601190476190476|
| 285|  Broadway & E 14 St|       40.73454567|      -73.99074142| 14.81547619047619|
|3641|  Broadway & W 25 St| 40.74286877312112|-73.98918628692627| 14.04191616766467|
| 359|  E 47 St & Park Ave|       40.75510267|      -73.97498696|13.789808917197453|
| 499|  Broadway & W 60 St|       40.76915505|      -73.98191841|12.898809523809524|
| 491|E 24 St & Park Ave S|       40.74096374|      -73.98602213|12.857142857142858|
| 293|Lafayette St & E ...| 40.73020660529954|-73.99102628231049|12.327380952380953|
|3435|Grand St & Elizab...|         40.718822|         -73.99596|              12.0|
| 168|     W 18 St & 6 Ave|       40.73971301|      -73.99456405|11.666666666666666|
|3660|     W 16 St & 8 Ave|40.741021509002664|  -74.001384973526|11.571428571428571|
|3443|     W 52 St & 6 Ave| 40.76132983124814|-73.97982001304626| 11.56969696969697|
| 459|    W 20 St & 11 Ave|         40.746745|        -74.007756| 11.31547619047619|
|3233|     E 48 St & 5 Ave| 40.75724567911726|-73.97805914282799|10.745454545454546|
|3664|North Moore St & ...| 40.72019521437465| -74.0103006362915|10.524390243902438|
| 524|     W 43 St & 6 Ave|       40.75527307|      -73.98316936|10.502994011976048|
| 151|Cleveland Pl & Sp...|40.722103786686034|-73.99724900722504|10.339506172839506|
| 173|  Broadway & W 49 St| 40.76068327096592| -73.9845272898674|10.311377245508982|
+----+--------------------+------------------+------------------+------------------+
only showing top 20 rows

Вечером:

+---+--------------------+------------------+------------------+------------------+
| id|                name|               lat|               lng|               avg|
+---+--------------------+------------------+------------------+------------------+
| 72|    W 52 St & 11 Ave|       40.76727216|      -73.99392888|3.4414414414414414|
| 79|Franklin St & W B...|       40.71911552|      -74.00666661|3.2916666666666665|
| 82|St James Pl & Pea...|       40.71117416|      -74.00016545| 1.941860465116279|
| 83|Atlantic Ave & Fo...|       40.68382604|      -73.97632328|2.3229166666666665|
|119|Park Ave & St Edw...|       40.69608941|      -73.97803415|1.2105263157894737|
|120|Lexington Ave & C...|       40.68676793|      -73.95928168|1.4736842105263157|
|127|Barrow St & Hudso...|       40.73172428|      -74.00674436|             5.312|
|128|MacDougal St & Pr...|       40.72710258|      -74.00297088|4.8311688311688314|
|143|Clinton St & Jora...|       40.69239502|      -73.99337909| 3.107142857142857|
|144| Nassau St & Navy St|       40.69839895|      -73.98068914|1.6166666666666667|
|146|Hudson St & Reade St|       40.71625008|       -74.0091059| 3.303703703703704|
|150|   E 2 St & Avenue C|        40.7208736|      -73.98085795| 2.685483870967742|
|151|Cleveland Pl & Sp...|40.722103786686034|-73.99724900722504|              6.85|
|157|Henry St & Atlant...|       40.69089272|      -73.99612349|2.5247524752475248|
|161|LaGuardia Pl & W ...|       40.72917025|      -73.99810231| 5.428571428571429|
|164|     E 47 St & 2 Ave|       40.75323098|      -73.97032517|3.5555555555555554|
|167|     E 39 St & 3 Ave|        40.7489006|      -73.97604882| 3.949275362318841|
|168|     W 18 St & 6 Ave|       40.73971301|      -73.99456405|7.4148148148148145|
|173|  Broadway & W 49 St| 40.76068327096592| -73.9845272898674| 4.666666666666667|
|174|     E 25 St & 1 Ave|        40.7381765|      -73.97738662|3.6769230769230767|
+---+--------------------+------------------+------------------+------------------+
only showing top 20 rows

в) в среду и в воскресенье по временным диапазонам (см. выше)

In [36]:
print("Среднее число начала поездок в среду в течение дня:")

start_wed_trips_hours = trips_new\
            .withColumn('weekday', date_format(F.col('starttime'), 'E'))\
            .withColumn('starttime_unix', date_format('starttime', "yyyyMMdd"))\
            .filter((F.col('weekday') == 'Wed'))\
            .select(F.col('start_station_id').alias('id'), 
                    F.col('start_station_name').alias('name'),
                    F.col("starttime_unix"), 
                    hour(F.col('starttime')).alias('hour'))\
            .groupBy('id','name', 'hour','starttime_unix')\
            .agg(F.count('hour').alias('count'))\
            .orderBy('count', ascending=False)
start_wed_trips_hours.show()

print("Ночью:")
start_wed_trips_hours\
        .filter(F.col('hour') < 6)\
        .filter(F.col('hour') >= 0)\
        .groupBy('id','name')\
        .agg(F.avg('count').alias('avg'))\
        .orderBy('avg', ascending=False).show()

print("Утром:")
start_wed_trips_hours\
    .filter(F.col('hour') < 12)\
    .filter(F.col('hour') >= 6)\
    .groupBy('id','name')\
    .agg(F.avg('count').alias('avg'))\
    .orderBy('avg', ascending=False).show()

print("Днем:")
start_wed_trips_hours\
    .filter(F.col('hour') < 18)\
    .filter(F.col('hour') >= 12)\
    .groupBy('id','name')\
    .agg(F.avg('count').alias('avg'))\
    .orderBy('avg', ascending=False).show()

print("Вечером:")
start_wed_trips_hours\
    .filter(F.col('hour') < 24)\
    .filter(F.col('hour') >= 18)\
    .groupBy('id','name')\
    .agg(F.avg('count').alias('avg'))\
    .orderBy('id').show()

Среднее число начала поездок в среду в течение дня:
+----+--------------------+----+--------------+-----+
|  id|                name|hour|starttime_unix|count|
+----+--------------------+----+--------------+-----+
|3255|     8 Ave & W 31 St|   6|      20190206|   74|
|3255|     8 Ave & W 31 St|   7|      20190206|   72|
| 519|Pershing Square N...|  17|      20190213|   67|
| 519|Pershing Square N...|   8|      20190227|   67|
|3664|North Moore St & ...|  17|      20190206|   65|
|3255|     8 Ave & W 31 St|   8|      20190206|   64|
| 359|  E 47 St & Park Ave|  17|      20190206|   60|
|3255|     8 Ave & W 31 St|   7|      20190220|   59|
| 359|  E 47 St & Park Ave|  17|      20190213|   58|
| 519|Pershing Square N...|   8|      20190206|   57|
| 519|Pershing Square N...|  17|      20190206|   55|
| 359|  E 47 St & Park Ave|  17|      20190227|   55|
|3443|     W 52 St & 6 Ave|  17|      20190206|   53|
| 514|    12 Ave & W 40 St|   8|      20190206|   52|
|3255|     8 Ave & W 31 St|   7|      20190227|   52|
| 445|  E 10 St & Avenue A|   8|      20190206|   48|
|3255|     8 Ave & W 31 St|   8|      20190227|   48|
| 519|Pershing Square N...|  18|      20190227|   48|
|3255|     8 Ave & W 31 St|   8|      20190220|   48|
| 519|Pershing Square N...|   8|      20190220|   47|
+----+--------------------+----+--------------+-----+
only showing top 20 rows

Ночью:
+----+--------------------+------------------+
|  id|                name|               avg|
+----+--------------------+------------------+
| 529|     W 42 St & 8 Ave| 5.166666666666667|
| 477|     W 41 St & 8 Ave| 4.842105263157895|
| 492|     W 33 St & 7 Ave|              4.75|
|3140|     1 Ave & E 78 St|               4.0|
| 509|     9 Ave & W 22 St|3.1666666666666665|
| 490|     8 Ave & W 33 St| 3.090909090909091|
|3068|Humboldt St & Var...|               3.0|
|3164|Columbus Ave & W ...|               2.8|
| 379|     W 31 St & 7 Ave|               2.5|
| 540|Lexington Ave & E...|               2.5|
|3315|Henry St & Degraw St|2.3333333333333335|
|3236|  W 42 St & Dyer Ave|2.2857142857142856|
| 302|   Avenue D & E 3 St|              2.25|
|3167|Amsterdam Ave & W...|               2.2|
| 495|    W 47 St & 10 Ave|2.1666666666666665|
| 505|     6 Ave & W 33 St| 2.142857142857143|
| 507|     E 25 St & 2 Ave| 2.111111111111111|
|3255|     8 Ave & W 31 St|2.0833333333333335|
|3067|Broadway & Whippl...|               2.0|
|3724|7 Ave & Central P...|               2.0|
+----+--------------------+------------------+
only showing top 20 rows

Утром:
+----+--------------------+------------------+
|  id|                name|               avg|
+----+--------------------+------------------+
|3255|     8 Ave & W 31 St|28.541666666666668|
| 519|Pershing Square N...|25.458333333333332|
| 379|     W 31 St & 7 Ave|16.318181818181817|
| 523|     W 38 St & 8 Ave|15.916666666666666|
| 445|  E 10 St & Avenue A|15.583333333333334|
| 490|     8 Ave & W 33 St|            15.125|
| 465|  Broadway & W 41 St|            14.125|
| 505|     6 Ave & W 33 St|13.416666666666666|
| 504|     1 Ave & E 16 St|             13.25|
| 487| E 20 St & FDR Drive|13.166666666666666|
| 359|  E 47 St & Park Ave|              13.0|
| 468|  Broadway & W 56 St|12.291666666666666|
|3711|  E 13 St & Avenue A|12.291666666666666|
| 358|Christopher St & ...|             12.25|
|3660|     W 16 St & 8 Ave|12.041666666666666|
| 517|Pershing Square S...|              12.0|
| 492|     W 33 St & 7 Ave|11.952380952380953|
|3164|Columbus Ave & W ...|11.833333333333334|
| 435|     W 21 St & 6 Ave|11.291666666666666|
| 477|     W 41 St & 8 Ave|             11.25|
+----+--------------------+------------------+
only showing top 20 rows

Днем:
+----+--------------------+------------------+
|  id|                name|               avg|
+----+--------------------+------------------+
| 435|     W 21 St & 6 Ave|            15.875|
| 519|Pershing Square N...|14.958333333333334|
| 359|  E 47 St & Park Ave|14.916666666666666|
| 497|  E 17 St & Broadway|            14.875|
| 491|E 24 St & Park Ave S|             14.75|
| 402|  Broadway & E 22 St|13.333333333333334|
|3641|  Broadway & W 25 St|12.217391304347826|
|3443|     W 52 St & 6 Ave|12.166666666666666|
|3233|     E 48 St & 5 Ave|11.208333333333334|
| 524|     W 43 St & 6 Ave|11.083333333333334|
| 168|     W 18 St & 6 Ave|10.956521739130435|
|3664|North Moore St & ...|10.791666666666666|
| 285|  Broadway & E 14 St|10.791666666666666|
| 474|     5 Ave & E 29 St|10.782608695652174|
| 173|  Broadway & W 49 St|              10.5|
| 472|  E 32 St & Park Ave|10.458333333333334|
|3660|     W 16 St & 8 Ave|10.458333333333334|
| 293|Lafayette St & E ...|10.166666666666666|
| 517|Pershing Square S...|            10.125|
| 496|     E 16 St & 5 Ave| 9.791666666666666|
+----+--------------------+------------------+
only showing top 20 rows

Вечером:
+---+--------------------+------------------+
| id|                name|               avg|
+---+--------------------+------------------+
| 72|    W 52 St & 11 Ave| 2.727272727272727|
| 79|Franklin St & W B...| 2.888888888888889|
| 82|St James Pl & Pea...|2.2222222222222223|
| 83|Atlantic Ave & Fo...|2.3333333333333335|
|119|Park Ave & St Edw...|               1.0|
|120|Lexington Ave & C...|               2.0|
|127|Barrow St & Hudso...| 4.555555555555555|
|128|MacDougal St & Pr...|               3.8|
|143|Clinton St & Jora...|3.7333333333333334|
|144| Nassau St & Navy St|1.1111111111111112|
|146|Hudson St & Reade St|            2.9375|
|150|   E 2 St & Avenue C|2.6153846153846154|
|151|Cleveland Pl & Sp...|               6.9|
|157|Henry St & Atlant...|2.3333333333333335|
|161|LaGuardia Pl & W ...|              3.65|
|164|     E 47 St & 2 Ave|               4.5|
|167|     E 39 St & 3 Ave| 3.888888888888889|
|168|     W 18 St & 6 Ave| 8.058823529411764|
|173|  Broadway & W 49 St|            7.4375|
|174|     E 25 St & 1 Ave| 4.235294117647059|
+---+--------------------+------------------+
only showing top 20 rows

In [37]:
print("Среднее число начала поездок в воскресенье в течение дня:")

start_wed_trips_hours = trips_new\
            .withColumn('weekday', date_format(F.col('starttime'), 'E'))\
            .withColumn('starttime_unix', date_format('starttime', "yyyyMMdd"))\
            .filter((F.col('weekday') == 'Sun'))\
            .select(F.col('start_station_id').alias('id'), 
                    F.col('start_station_name').alias('name'),
                    F.col("starttime_unix"), 
                    hour(F.col('starttime')).alias('hour'))\
            .groupBy('id','name', 'hour','starttime_unix')\
            .agg(F.count('hour').alias('count'))\
            .orderBy('count', ascending=False)
start_wed_trips_hours.show()

print("Ночью:")
start_wed_trips_hours\
        .filter(F.col('hour') < 6)\
        .filter(F.col('hour') >= 0)\
        .groupBy('id','name')\
        .agg(F.avg('count').alias('avg'))\
        .orderBy('avg', ascending=False).show()

print("Утром:")
start_wed_trips_hours\
    .filter(F.col('hour') < 12)\
    .filter(F.col('hour') >= 6)\
    .groupBy('id','name')\
    .agg(F.avg('count').alias('avg'))\
    .orderBy('avg', ascending=False).show()

print("Днем:")
start_wed_trips_hours\
    .filter(F.col('hour') < 18)\
    .filter(F.col('hour') >= 12)\
    .groupBy('id','name')\
    .agg(F.avg('count').alias('avg'))\
    .orderBy('avg', ascending=False).show()

print("Вечером:")
start_wed_trips_hours\
    .filter(F.col('hour') < 24)\
    .filter(F.col('hour') >= 18)\
    .groupBy('id','name')\
    .agg(F.avg('count').alias('avg'))\
    .orderBy('id').show()

Среднее число начала поездок в воскресенье в течение дня:
+----+--------------------+----+--------------+-----+
|  id|                name|hour|starttime_unix|count|
+----+--------------------+----+--------------+-----+
| 285|  Broadway & E 14 St|  15|      20190203|   32|
| 285|  Broadway & E 14 St|  16|      20190203|   31|
| 499|  Broadway & W 60 St|  15|      20190203|   31|
| 293|Lafayette St & E ...|  14|      20190203|   30|
| 435|     W 21 St & 6 Ave|  15|      20190224|   30|
|2006|Central Park S & ...|  14|      20190203|   27|
| 435|     W 21 St & 6 Ave|  17|      20190203|   26|
| 285|  Broadway & E 14 St|  13|      20190224|   25|
| 497|  E 17 St & Broadway|  17|      20190224|   25|
| 435|     W 21 St & 6 Ave|  14|      20190203|   25|
| 285|  Broadway & E 14 St|  16|      20190224|   25|
| 459|    W 20 St & 11 Ave|  13|      20190203|   25|
| 285|  Broadway & E 14 St|  17|      20190224|   25|
| 497|  E 17 St & Broadway|  15|      20190203|   24|
|3435|Grand St & Elizab...|  15|      20190210|   24|
| 293|Lafayette St & E ...|  15|      20190224|   23|
| 168|     W 18 St & 6 Ave|  15|      20190203|   23|
| 497|  E 17 St & Broadway|  17|      20190203|   23|
|3124|       46 Ave & 5 St|  12|      20190217|   23|
|3435|Grand St & Elizab...|  13|      20190217|   23|
+----+--------------------+----+--------------+-----+
only showing top 20 rows

Ночью:
+----+--------------------+------------------+
|  id|                name|               avg|
+----+--------------------+------------------+
| 420|Clermont Ave & La...|               3.5|
| 401|Allen St & Riving...|3.1333333333333333|
|3160|Central Park West...|               3.0|
| 312|Allen St & Stanto...|2.6666666666666665|
| 311|Norfolk St & Broo...|2.5714285714285716|
|2008|Little West St & ...|               2.5|
|2006|Central Park S & ...|               2.5|
| 161|LaGuardia Pl & W ...|2.4444444444444446|
| 369|Washington Pl & 6...|2.4444444444444446|
| 459|    W 20 St & 11 Ave|2.3333333333333335|
| 380|    W 4 St & 7 Ave S|2.3333333333333335|
| 460|  S 4 St & Wythe Ave|2.3333333333333335|
| 426|West St & Chamber...|2.3333333333333335|
|3656|   E 2 St & Avenue A|2.3333333333333335|
| 519|Pershing Square N...|              2.25|
| 432|   E 7 St & Avenue A|              2.25|
| 229|      Great Jones St|               2.2|
| 499|  Broadway & W 60 St|2.1666666666666665|
|3078|Broadway & Roebli...|             2.125|
| 504|     1 Ave & E 16 St|2.0833333333333335|
+----+--------------------+------------------+
only showing top 20 rows

Утром:
+----+--------------------+------------------+
|  id|                name|               avg|
+----+--------------------+------------------+
| 435|     W 21 St & 6 Ave| 6.947368421052632|
| 432|   E 7 St & Avenue A|6.2727272727272725|
| 499|  Broadway & W 60 St|5.9411764705882355|
| 350|Clinton St & Gran...| 5.882352941176471|
|3711|  E 13 St & Avenue A|              5.85|
|2003|     1 Ave & E 18 St|              5.65|
|3718|  E 11 St & Avenue B|               5.5|
| 410|Suffolk St & Stan...| 5.470588235294118|
| 229|      Great Jones St| 5.470588235294118|
| 402|  Broadway & E 22 St|               5.4|
| 504|     1 Ave & E 16 St| 5.380952380952381|
| 461|     E 20 St & 2 Ave| 5.333333333333333|
| 223|     W 13 St & 7 Ave| 5.266666666666667|
| 312|Allen St & Stanto...| 5.176470588235294|
|3167|Amsterdam Ave & W...| 5.166666666666667|
| 326|     E 11 St & 1 Ave| 5.157894736842105|
| 297|     E 15 St & 3 Ave| 5.111111111111111|
| 285|  Broadway & E 14 St|              5.05|
|3158|  W 63 St & Broadway|               5.0|
| 254|     W 11 St & 6 Ave|               5.0|
+----+--------------------+------------------+
only showing top 20 rows

Днем:
+----+--------------------+------------------+
|  id|                name|               avg|
+----+--------------------+------------------+
| 435|     W 21 St & 6 Ave|17.416666666666668|
| 285|  Broadway & E 14 St|16.958333333333332|
| 497|  E 17 St & Broadway|            16.375|
| 499|  Broadway & W 60 St|14.708333333333334|
|3435|Grand St & Elizab...|14.583333333333334|
| 459|    W 20 St & 11 Ave|12.541666666666666|
| 293|Lafayette St & E ...|12.416666666666666|
| 368|  Carmine St & 6 Ave|            12.375|
| 402|  Broadway & E 22 St|12.041666666666666|
| 350|Clinton St & Gran...|            11.875|
| 445|  E 10 St & Avenue A|11.458333333333334|
| 237|     E 11 St & 2 Ave|11.166666666666666|
| 151|Cleveland Pl & Sp...|11.083333333333334|
| 168|     W 18 St & 6 Ave|11.083333333333334|
| 326|     E 11 St & 1 Ave|              11.0|
| 438| St Marks Pl & 1 Ave|10.833333333333334|
|3660|     W 16 St & 8 Ave|             10.75|
| 358|Christopher St & ...|10.583333333333334|
| 229|      Great Jones St|10.541666666666666|
| 297|     E 15 St & 3 Ave|            10.125|
+----+--------------------+------------------+
only showing top 20 rows

Вечером:
+---+--------------------+------------------+
| id|                name|               avg|
+---+--------------------+------------------+
| 72|    W 52 St & 11 Ave| 2.642857142857143|
| 79|Franklin St & W B...|1.8666666666666667|
| 82|St James Pl & Pea...|               1.7|
| 83|Atlantic Ave & Fo...|1.6923076923076923|
|119|Park Ave & St Edw...|               1.0|
|120|Lexington Ave & C...|1.4615384615384615|
|127|Barrow St & Hudso...|2.8666666666666667|
|128|MacDougal St & Pr...|               2.8|
|143|Clinton St & Jora...|1.6363636363636365|
|144| Nassau St & Navy St|              1.25|
|146|Hudson St & Reade St|1.7857142857142858|
|150|   E 2 St & Avenue C|               2.0|
|151|Cleveland Pl & Sp...| 5.136363636363637|
|157|Henry St & Atlant...|               2.4|
|161|LaGuardia Pl & W ...| 4.541666666666667|
|164|     E 47 St & 2 Ave|            2.3125|
|167|     E 39 St & 3 Ave|2.4444444444444446|
|168|     W 18 St & 6 Ave| 4.684210526315789|
|173|  Broadway & W 49 St|2.9047619047619047|
|174|     E 25 St & 1 Ave|1.8571428571428572|
+---+--------------------+------------------+
only showing top 20 rows

In [39]:
print("Среднее число конца поездок в среду в течение дня:")

start_wed_trips_hours = trips_new\
            .withColumn('weekday', date_format(F.col('starttime'), 'E'))\
            .withColumn('starttime_unix', date_format('starttime', "yyyyMMdd"))\
            .filter((F.col('weekday') == 'Wed'))\
            .select(F.col('end_station_id').alias('id'), 
                    F.col('end_station_name').alias('name'),
                    F.col("starttime_unix"),
                    F.col("starttime_unix"),
                    F.col("starttime_unix"), 
                    hour(F.col('starttime')).alias('hour'))\
            .groupBy('id','name', 'hour','starttime_unix')\
            .agg(F.count('hour').alias('count'))\
            .orderBy('count', ascending=False)
start_wed_trips_hours.show()

print("Ночью:")
start_wed_trips_hours\
        .filter(F.col('hour') < 6)\
        .filter(F.col('hour') >= 0)\
        .groupBy('id','name')\
        .agg(F.avg('count').alias('avg'))\
        .orderBy('avg', ascending=False).show()

print("Утром:")
start_wed_trips_hours\
    .filter(F.col('hour') < 12)\
    .filter(F.col('hour') >= 6)\
    .groupBy('id','name')\
    .agg(F.avg('count').alias('avg'))\
    .orderBy('avg', ascending=False).show()

print("Днем:")
start_wed_trips_hours\
    .filter(F.col('hour') < 18)\
    .filter(F.col('hour') >= 12)\
    .groupBy('id','name')\
    .agg(F.avg('count').alias('avg'))\
    .orderBy('avg', ascending=False).show()

print("Вечером:")
start_wed_trips_hours\
    .filter(F.col('hour') < 24)\
    .filter(F.col('hour') >= 18)\
    .groupBy('id','name')\
    .agg(F.avg('count').alias('avg'))\
    .orderBy('id').show()

Среднее число конца поездок в среду в течение дня:
+----+--------------------+----+--------------+-----+
|  id|                name|hour|starttime_unix|count|
+----+--------------------+----+--------------+-----+
| 359|  E 47 St & Park Ave|   8|      20190206|  102|
|3255|     8 Ave & W 31 St|  17|      20190206|   78|
| 517|Pershing Square S...|  17|      20190227|   75|
| 359|  E 47 St & Park Ave|   8|      20190227|   73|
| 402|  Broadway & E 22 St|   9|      20190206|   72|
|3255|     8 Ave & W 31 St|  17|      20190213|   69|
| 402|  Broadway & E 22 St|   9|      20190227|   68|
| 359|  E 47 St & Park Ave|   8|      20190220|   67|
|3443|     W 52 St & 6 Ave|   8|      20190206|   66|
| 517|Pershing Square S...|  17|      20190206|   64|
|3255|     8 Ave & W 31 St|  17|      20190227|   64|
|3443|     W 52 St & 6 Ave|   8|      20190213|   63|
| 402|  Broadway & E 22 St|   9|      20190213|   63|
| 519|Pershing Square N...|  17|      20190213|   60|
|3255|     8 Ave & W 31 St|  16|      20190206|   60|
| 359|  E 47 St & Park Ave|   8|      20190213|   59|
|3443|     W 52 St & 6 Ave|   8|      20190227|   59|
|3443|     W 52 St & 6 Ave|   8|      20190220|   58|
| 402|  Broadway & E 22 St|   8|      20190206|   58|
| 402|  Broadway & E 22 St|   9|      20190220|   57|
+----+--------------------+----+--------------+-----+
only showing top 20 rows

Ночью:
+----+--------------------+------------------+
|  id|                name|               avg|
+----+--------------------+------------------+
| 459|    W 20 St & 11 Ave| 6.555555555555555|
| 229|      Great Jones St| 4.428571428571429|
| 484|     W 44 St & 5 Ave|               4.0|
| 168|     W 18 St & 6 Ave|               4.0|
| 309| Murray St & West St|              3.75|
|3443|     W 52 St & 6 Ave|               3.4|
| 359|  E 47 St & Park Ave|3.3333333333333335|
|3664|North Moore St & ...|               3.0|
|3156|  E 72 St & York Ave|2.7142857142857144|
| 519|Pershing Square N...|2.6666666666666665|
| 524|     W 43 St & 6 Ave|2.6666666666666665|
| 491|E 24 St & Park Ave S|2.5833333333333335|
| 546|E 30 St & Park Ave S|2.5714285714285716|
| 466|     W 25 St & 6 Ave|               2.5|
| 520|     W 52 St & 5 Ave|               2.5|
|3562|Classon Ave & St ...|               2.5|
| 467|     Dean St & 4 Ave|               2.5|
|3687|     E 33 St & 1 Ave|2.4285714285714284|
|2012|     E 27 St & 1 Ave|2.3333333333333335|
| 266|   Avenue D & E 8 St|              2.25|
+----+--------------------+------------------+
only showing top 20 rows

Утром:
+----+--------------------+------------------+
|  id|                name|               avg|
+----+--------------------+------------------+
| 359|  E 47 St & Park Ave|31.416666666666668|
| 402|  Broadway & E 22 St|29.666666666666668|
|3443|     W 52 St & 6 Ave|26.041666666666668|
| 519|Pershing Square N...|25.416666666666668|
|3664|North Moore St & ...|            19.625|
| 377|    6 Ave & Canal St|18.391304347826086|
| 435|     W 21 St & 6 Ave|17.333333333333332|
| 173|  Broadway & W 49 St|16.291666666666668|
| 497|  E 17 St & Broadway|15.958333333333334|
| 465|  Broadway & W 41 St|            15.625|
| 472|  E 32 St & Park Ave|15.458333333333334|
|3660|     W 16 St & 8 Ave|15.083333333333334|
| 517|Pershing Square S...|14.666666666666666|
| 491|E 24 St & Park Ave S|            14.625|
|3263|Cooper Square & A...|              14.5|
| 304|Broadway & Batter...|14.347826086956522|
|3141|     1 Ave & E 68 St|14.333333333333334|
|3235|E 41 St & Madison...|            14.125|
|3233|     E 48 St & 5 Ave|13.958333333333334|
| 293|Lafayette St & E ...|13.791666666666666|
+----+--------------------+------------------+
only showing top 20 rows

Днем:
+----+--------------------+------------------+
|  id|                name|               avg|
+----+--------------------+------------------+
|3255|     8 Ave & W 31 St|            22.625|
| 519|Pershing Square N...|            21.375|
| 477|     W 41 St & 8 Ave|17.416666666666668|
| 490|     8 Ave & W 33 St|16.652173913043477|
| 517|Pershing Square S...|15.347826086956522|
| 523|     W 38 St & 8 Ave|15.041666666666666|
| 492|     W 33 St & 7 Ave|14.458333333333334|
| 379|     W 31 St & 7 Ave|14.333333333333334|
| 435|     W 21 St & 6 Ave|13.666666666666666|
| 497|  E 17 St & Broadway|12.541666666666666|
| 402|  Broadway & E 22 St|11.916666666666666|
| 505|     6 Ave & W 33 St|            11.375|
| 285|  Broadway & E 14 St|11.347826086956522|
| 498|  Broadway & W 32 St|              10.0|
| 499|  Broadway & W 60 St|              9.75|
| 442|     W 27 St & 7 Ave| 9.565217391304348|
| 504|     1 Ave & E 16 St| 9.478260869565217|
| 509|     9 Ave & W 22 St| 9.217391304347826|
| 491|E 24 St & Park Ave S| 9.083333333333334|
|3641|  Broadway & W 25 St| 8.916666666666666|
+----+--------------------+------------------+
only showing top 20 rows

Вечером:
+---+--------------------+------------------+
| id|                name|               avg|
+---+--------------------+------------------+
| 72|    W 52 St & 11 Ave| 2.789473684210526|
| 79|Franklin St & W B...|2.3076923076923075|
| 82|St James Pl & Pea...| 2.090909090909091|
| 83|Atlantic Ave & Fo...|               1.7|
|119|Park Ave & St Edw...|               1.2|
|120|Lexington Ave & C...|1.6153846153846154|
|127|Barrow St & Hudso...| 5.571428571428571|
|128|MacDougal St & Pr...|3.6842105263157894|
|143|Clinton St & Jora...|               2.0|
|144| Nassau St & Navy St|1.1428571428571428|
|146|Hudson St & Reade St|2.6666666666666665|
|150|   E 2 St & Avenue C| 4.842105263157895|
|151|Cleveland Pl & Sp...|              4.95|
|157|Henry St & Atlant...|             3.625|
|161|LaGuardia Pl & W ...|3.9444444444444446|
|164|     E 47 St & 2 Ave|2.1666666666666665|
|167|     E 39 St & 3 Ave|3.7222222222222223|
|168|     W 18 St & 6 Ave| 4.857142857142857|
|173|  Broadway & W 49 St| 3.888888888888889|
|174|     E 25 St & 1 Ave| 4.277777777777778|
+---+--------------------+------------------+
only showing top 20 rows

In [40]:
print("Среднее число конца поездок в воскресенье в течение дня:")

start_wed_trips_hours = trips_new\
            .withColumn('weekday', date_format(F.col('starttime'), 'E'))\
            .withColumn('starttime_unix', date_format('starttime', "yyyyMMdd"))\
            .filter((F.col('weekday') == 'Sun'))\
            .select(F.col('end_station_id').alias('id'), 
                    F.col('end_station_name').alias('name'),
                    F.col("starttime_unix"), 
                    hour(F.col('starttime')).alias('hour'))\
            .groupBy('id','name', 'hour','starttime_unix')\
            .agg(F.count('hour').alias('count'))\
            .orderBy('count', ascending=False)
start_wed_trips_hours.show()

print("Ночью:")
start_wed_trips_hours\
        .filter(F.col('hour') < 6)\
        .filter(F.col('hour') >= 0)\
        .groupBy('id','name')\
        .agg(F.avg('count').alias('avg'))\
        .orderBy('avg', ascending=False).show()

print("Утром:")
start_wed_trips_hours\
    .filter(F.col('hour') < 12)\
    .filter(F.col('hour') >= 6)\
    .groupBy('id','name')\
    .agg(F.avg('count').alias('avg'))\
    .orderBy('avg', ascending=False).show()

print("Днем:")
start_wed_trips_hours\
    .filter(F.col('hour') < 18)\
    .filter(F.col('hour') >= 12)\
    .groupBy('id','name')\
    .agg(F.avg('count').alias('avg'))\
    .orderBy('avg', ascending=False).show()

print("Вечером:")
start_wed_trips_hours\
    .filter(F.col('hour') < 24)\
    .filter(F.col('hour') >= 18)\
    .groupBy('id','name')\
    .agg(F.avg('count').alias('avg'))\
    .orderBy('id').show()

Среднее число конца поездок в воскресенье в течение дня:
+----+--------------------+----+--------------+-----+
|  id|                name|hour|starttime_unix|count|
+----+--------------------+----+--------------+-----+
| 499|  Broadway & W 60 St|  15|      20190203|   36|
| 285|  Broadway & E 14 St|  18|      20190224|   29|
| 285|  Broadway & E 14 St|  15|      20190203|   28|
| 350|Clinton St & Gran...|  17|      20190224|   28|
|2008|Little West St & ...|  14|      20190203|   27|
|3435|Grand St & Elizab...|  12|      20190217|   27|
| 499|  Broadway & W 60 St|  12|      20190217|   27|
| 285|  Broadway & E 14 St|  17|      20190224|   26|
| 435|     W 21 St & 6 Ave|  15|      20190203|   26|
|3016|   Kent Ave & N 7 St|  12|      20190203|   26|
|3256|Pier 40 - Hudson ...|  14|      20190203|   25|
| 285|  Broadway & E 14 St|  14|      20190203|   25|
| 334|     W 20 St & 7 Ave|  12|      20190203|   25|
|3435|Grand St & Elizab...|  13|      20190203|   24|
| 358|Christopher St & ...|  14|      20190224|   23|
| 497|  E 17 St & Broadway|  14|      20190210|   23|
| 405|Washington St & G...|  13|      20190203|   23|
| 435|     W 21 St & 6 Ave|  16|      20190224|   23|
| 293|Lafayette St & E ...|  17|      20190203|   23|
| 435|     W 21 St & 6 Ave|  17|      20190203|   23|
+----+--------------------+----+--------------+-----+
only showing top 20 rows

Ночью:
+----+--------------------+------------------+
|  id|                name|               avg|
+----+--------------------+------------------+
| 420|Clermont Ave & La...|               4.0|
|3472|    W 15 St & 10 Ave|               3.0|
|3721| 31 St & Newtown Ave|               3.0|
|3368|        5 Ave & 3 St|               3.0|
|3139|  E 72 St & Park Ave|               3.0|
|3167|Amsterdam Ave & W...|               2.5|
| 328|Watts St & Greenw...|               2.5|
| 401|Allen St & Riving...|2.4166666666666665|
| 438| St Marks Pl & 1 Ave|              2.25|
|2008|Little West St & ...|              2.25|
| 312|Allen St & Stanto...|               2.2|
| 504|     1 Ave & E 16 St|2.1818181818181817|
| 285|  Broadway & E 14 St|2.1666666666666665|
| 495|    W 47 St & 10 Ave|             2.125|
| 355|Bayard St & Baxte...|             2.125|
| 461|     E 20 St & 2 Ave| 2.111111111111111|
|3258|    W 27 St & 10 Ave| 2.090909090909091|
| 432|   E 7 St & Avenue A|            2.0625|
|3363| E 102 St & Park Ave|               2.0|
|3527|    5 Ave & E 126 St|               2.0|
+----+--------------------+------------------+
only showing top 20 rows

Утром:
+----+--------------------+------------------+
|  id|                name|               avg|
+----+--------------------+------------------+
| 435|     W 21 St & 6 Ave|              10.2|
| 402|  Broadway & E 22 St|            8.3125|
| 293|Lafayette St & E ...|7.7894736842105265|
| 459|    W 20 St & 11 Ave| 7.777777777777778|
|3435|Grand St & Elizab...| 7.318181818181818|
| 168|     W 18 St & 6 Ave| 7.294117647058823|
| 497|  E 17 St & Broadway| 6.904761904761905|
|3263|Cooper Square & A...| 6.777777777777778|
|3158|  W 63 St & Broadway|              6.75|
| 368|  Carmine St & 6 Ave|            6.6875|
| 285|  Broadway & E 14 St|               6.4|
| 539|Metropolitan Ave ...| 6.388888888888889|
| 312|Allen St & Stanto...| 5.944444444444445|
| 229|      Great Jones St| 5.714285714285714|
|3427|Lafayette St & Je...| 5.705882352941177|
| 426|West St & Chamber...| 5.666666666666667|
| 297|     E 15 St & 3 Ave|               5.5|
| 350|Clinton St & Gran...|               5.4|
| 519|Pershing Square N...| 5.380952380952381|
|3660|     W 16 St & 8 Ave| 5.333333333333333|
+----+--------------------+------------------+
only showing top 20 rows

Днем:
+----+--------------------+------------------+
|  id|                name|               avg|
+----+--------------------+------------------+
| 435|     W 21 St & 6 Ave|16.458333333333332|
| 285|  Broadway & E 14 St|16.208333333333332|
| 497|  E 17 St & Broadway|15.708333333333334|
| 499|  Broadway & W 60 St|              14.5|
|3435|Grand St & Elizab...|            13.625|
| 293|Lafayette St & E ...|12.416666666666666|
| 402|  Broadway & E 22 St|12.333333333333334|
| 350|Clinton St & Gran...|             12.25|
| 151|Cleveland Pl & Sp...|11.708333333333334|
| 368|  Carmine St & 6 Ave|11.708333333333334|
| 358|Christopher St & ...|            11.625|
| 459|    W 20 St & 11 Ave|11.583333333333334|
| 237|     E 11 St & 2 Ave|11.458333333333334|
|3660|     W 16 St & 8 Ave|11.166666666666666|
| 438| St Marks Pl & 1 Ave|            10.875|
|3711|  E 13 St & Avenue A|            10.875|
| 446|     W 24 St & 7 Ave|10.521739130434783|
| 445|  E 10 St & Avenue A|10.291666666666666|
| 432|   E 7 St & Avenue A|            10.125|
| 509|     9 Ave & W 22 St|            10.125|
+----+--------------------+------------------+
only showing top 20 rows

Вечером:
+---+--------------------+------------------+
| id|                name|               avg|
+---+--------------------+------------------+
| 72|    W 52 St & 11 Ave|2.1666666666666665|
| 79|Franklin St & W B...|1.3571428571428572|
| 82|St James Pl & Pea...|1.6666666666666667|
| 83|Atlantic Ave & Fo...|1.3636363636363635|
|119|Park Ave & St Edw...|               1.0|
|120|Lexington Ave & C...|               2.0|
|127|Barrow St & Hudso...|               2.8|
|128|MacDougal St & Pr...|2.7058823529411766|
|143|Clinton St & Jora...|               1.7|
|144| Nassau St & Navy St|1.7777777777777777|
|146|Hudson St & Reade St| 2.076923076923077|
|150|   E 2 St & Avenue C|              3.85|
|151|Cleveland Pl & Sp...| 5.523809523809524|
|157|Henry St & Atlant...|2.2142857142857144|
|161|LaGuardia Pl & W ...| 3.857142857142857|
|164|     E 47 St & 2 Ave|2.1333333333333333|
|167|     E 39 St & 3 Ave|2.5789473684210527|
|168|     W 18 St & 6 Ave| 3.066666666666667|
|173|  Broadway & W 49 St| 2.142857142857143|
|174|     E 25 St & 1 Ave| 2.789473684210526|
+---+--------------------+------------------+
only showing top 20 rows

2. отобразите полученные данные для второго случая в виде тепловой временной карты (HeatMapWithTime)

In [41]:
# сначала построим карту для среднего числа начала поездок
data_begin = []

data_begin.append(start_trips_night_cnt.select(F.col('lat'),F.col('lng'),F.col('avg')).toPandas().values.tolist())
data_begin.append(start_trips_morning_cnt.select(F.col('lat'),F.col('lng'),F.col('avg')).toPandas().values.tolist())
data_begin.append(start_trips_afternoon_cnt.select(F.col('lat'),F.col('lng'),F.col('avg')).toPandas().values.tolist())
data_begin.append(start_trips_evening_cnt.select(F.col('lat'),F.col('lng'),F.col('avg')).toPandas().values.tolist())

In [42]:
m = folium.Map()
HeatMapWithTime(data_begin).add_to(m)
m.fit_bounds(m.get_bounds())
embed_map(m)

In [43]:
# построим карту для среднего числа конца поездок
data_end = []

data_end.append(end_trips_night_cnt.select(F.col('lat'),F.col('lng'),F.col('avg')).toPandas().values.tolist())
data_end.append(end_trips_morning_cnt.select(F.col('lat'),F.col('lng'),F.col('avg')).toPandas().values.tolist())
data_end.append(end_trips_afternoon_cnt.select(F.col('lat'),F.col('lng'),F.col('avg')).toPandas().values.tolist())
data_end.append(end_trips_evening_cnt.select(F.col('lat'),F.col('lng'),F.col('avg')).toPandas().values.tolist())

In [44]:
m = folium.Map()
HeatMapWithTime(data_end, radius=15).add_to(m)
m.fit_bounds(m.get_bounds())
embed_map(m)